<div id="product-dropdown" class="product-dropdown sticky-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-md-4 PD-name">
                <span class="d-none d-sm-block">Livo A1000</span>
                <div class="dropdown d-block d-sm-none">
                    <button class="btn dropdown-toggle PD-drop" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Livo A1000
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a target="_blank" href="../../assets/docs/Livo A1000 Final.pdf" class="dropdown-item PD-link2 active">Product
                            brochure <i class="far fa-arrow-alt-circle-down"></i></a>
                        <a href="A1000#Benefits" class="dropdown-item PD-link2">Benefits</a>
                        <a href="A1000#Specifications" class="dropdown-item PD-link2">Technical Specifications</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-8 text-right d-none d-sm-block">
                <a target="_blank" href="../../assets/docs/Livo A1000 Final.pdf" class="PD-link2 active">Product
                    brochure <i class="far fa-arrow-alt-circle-down"></i></a>
                <a href="A1000#Howitworks" class="PD-link2">How it works</a>
                <a href="A1000#Benefits" class="PD-link2">Benefits</a>
                <!--<a href="A1000#Specifications" class="PD-link2">Technical Specifications</a>-->
                <a href="mailto:sales@livo.ai?subject=Livo A1000" class="btn buybtn PD-link2">Request quote</a>
            </div>
            <div class="col-6 col-md-8 text-right d-block d-sm-none">
                <a href="mailto:sales@livo.ai?subject=Livo A1000" class="btn buybtn PD-link2">Request quote</a>
            </div>
        </div>
    </div>
</div>
<div class="a1000-page">
    <div class="container">
        <div class="BMHeight">
            <div class="APT1 animated-s livo-opacity-0  fadeInUp">Livo A1000</div>
            <h2 class="animated-s livo-opacity-0  fadeInUp">State-of-the-art pathology<br> scans at the push of a button
            </h2>
            <div class="row justify-content-center animated-m livo-opacity-0  fadeInUp">
                <div class="col-md-9 text-center">
                    <img src="../../assets/images/livoA1000.jpg" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="AP-content1">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    <h3>Livo A1000</h3>
                    <p>
                        The Whole Slide Scanner Livo A1000 is the most practical and compact digital slide scanner on the market. Designed to produce state-of-the-art pathology scans at the push of a button, it eliminates the laborious process of sitting down for hours behind
                        a microscope to analyse results.
                    </p>
                    <p>
                        The Livo A1000 scans the processed slides in seconds, then uploads high-quality, digital images of them to the Livo digital pathology platform and sends them out for expert analysis.
                    </p>

                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="AP-points"><img src="../../assets/images/Affordable.svg"> Affordable whole slide imaging
                    </div>
                    <div class="AP-points"><img src="../../assets/images/scan.svg"> Scan, save and share slides easily
                    </div>
                </div>
            </div>
        </div>
        <div class="AP-content1" id="Benefits">
            <h4>Why Livo <span>A1000</span>?</h4>
            <p>The A1000 was envisioned to accelerate the workflow of the time-pressed, cost-conscious laboratory manager. Its benefits include:</p>
        </div>
        <div class="AP-content2">
            <div class="row">
                <div class="col-md-5">
                    <ul>
                        <li>High-resolution images</li>
                        <li>Scanning time as low as 60 seconds</li>
                        <li>Sustained high throughput rate</li>
                        <li>No rescans necessary </li>
                    </ul>
                </div>
                <div class="col-md-7">
                    <ul>
                        <li>Compact, noiseless design that fits into small laboratory spaces</li>
                        <li>Access to a global network of certified pathologists </li>
                        <li>Compatible with hospital and lab proprietary information systems</li>
                        <li>Relief from neck/back pain and eye strain for staff pathologists</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="AP-content3">
        <div class="container">
            <h2>Manual microscopy or <br>the <span>A1000?</span></h2>
            <div class="APT1">Choose the better option</div>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="APbox">
                        <img src="../../assets/images/machine1.png">
                        <h3>Manual microscopy</h3>
                        <ul>
                            <li>Higher turnaround time - Low throughput and reporting speed</li>
                            <li>Difficulty in storage, cataloging, and slide management </li>
                            <li>Slides physically degrade or break over time</li>
                            <li>Result and interpretation delay if pathologist is unavailable</li>
                            <li>Can cause back pain and eye strain to pathologists</li>
                            <li>Slides cannot be instantly shared for viewing</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="APbox">
                        <img src="../../assets/images/a1000img2.png">
                        <h3>A1000</h3>
                        <ul>
                            <li>Lower turnaround time - High throughput and reporting speed</li>
                            <li>Easy storage, cataloging, and management of images</li>
                            <li>High-resolution images that do not alter in quality</li>
                            <li>Global network of certified pathologists available 24/7</li>
                            <li>Convenient, no back pain or eye strain</li>
                            <li>Digital slides can be easily shared with specialists who have access to the Livo platform
                            </li>
                        </ul>
                        <div class="text-center"><button type="button" class="btn buybtn">Request quote</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="Howitworks">
        <widget-steps [data]="data" [cls]="cls" [count]=1></widget-steps>
        <collapse-steps [data]="data" [cls]="cls" [count]=1></collapse-steps>
    </div>
    <!--<div class="container" id="Specifications">
        <div class="AP-content4">
            <div class="row border-b">
                <div class="col-md-5"></div>
                <div class="col-md-7 AP-T1">
                    Technical specifications
                </div>
            </div>
            <div class="row border-b pt-10 pb-10">
                <div class="col-md-5"></div>
                <div class="col-md-7 AP-T1">
                    <ul class="nav" role="tablist">
                        <li class="nav-item" role="presentation">
                            <a href="#A1000P" class="AP-btn1 nav-link active" data-toggle="tab" role="tab">A1000</a>
                        </li>
                        <li class="nav-item" role="presentation">
                            <a href="#A1000P-X" class="AP-btn1 nav-link" data-toggle="tab" role="tab">A1000 X</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row border-b pt-20 pb-15">
                <div class="col-md-5">
                    <img src="../../assets/images/a1000img3.png" class="img-fluid">
                </div>
                <div class="col-md-7">
                    <div class="tab-content" id="A1000P-TabContent">
                        <div class="tab-pane show active" id="A1000P">
                            <table class="table table-borderless">
                                <tr>
                                    <td>Objectives</td>
                                    <td class="valu">
                                        Plan ACHROCHROMAT 40X/0.65<br>
                                        Plan ACHROCHROMAT 20X/0.45
                                    </td>
                                </tr>
                                <tr>
                                    <td>Scanning time</td>
                                    <td class="valu">
                                        04 Minutes (20X) with 40X Super Resolution AI
                                        12 Minutes (40X)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Focusing technique</td>
                                    <td class="valu">Pre-focus and Real-time autofocus</td>
                                </tr>
                                <tr>
                                    <td>Scanning camera sensor</td>
                                    <td class="valu">1/2″ High-speed global shutter sensor</td>
                                </tr>
                                <tr>
                                    <td>Nosepiece</td>
                                    <td class="valu">3 hole</td>
                                </tr>
                                <tr>
                                    <td>Light source</td>
                                    <td class="valu">10W LED (Lifetime: 25,000 Hours)</td>
                                </tr>
                                <tr>
                                    <td>Slide capacity</td>
                                    <td class="valu">1 Slide</td>
                                </tr>
                                <tr>
                                    <td>Slide dimensions</td>
                                    <td class="valu">75 x 25mm</td>
                                </tr>
                                <tr>
                                    <td>Barcode support</td>
                                    <td class="valu">1D: Interleaved 2 of 5, Code 39, Code 128
                                        2D: QR Code (optional)</td>
                                </tr>
                                <tr>
                                    <td>Computer</td>
                                    <td class="valu">
                                        • Intel Core i7 Processor,• GPU with 4GB dedicated graphics RAM<br>
                                        • 16GB RAM<br>
                                        • 128GB SSD & 1TB SATA Disk
                                    </td>
                                </tr>
                                <tr>
                                    <td>Monitor</td>
                                    <td class="valu">21 inch - 27inch</td>
                                </tr>
                                <tr>
                                    <td>Interface</td>
                                    <td class="valu">USB 3.0</td>
                                </tr>
                                <tr>
                                    <td>Dimensions</td>
                                    <td class="valu">395 x 330 x 350mm</td>
                                </tr>
                            </table>
                        </div>
                        <div class="tab-pane fade" id="A1000P-X">
                            <table class="table table-borderless">
                                <tr>
                                    <td>Objectives</td>
                                    <td class="valu">
                                        Plan APOCHROMAT 20X/0.75<br>
                                        S Apo Objective 10X/0.3
                                    </td>
                                </tr>
                                <tr>
                                    <td>Scanning time</td>
                                    <td class="valu">
                                        160s (40X – with 20X Apo objective)
                                        60s (20X – with 10X Apo objective)
                                    </td>
                                </tr>
                                <tr>
                                    <td>Focusing technique</td>
                                    <td class="valu">Real-time autofocus</td>
                                </tr>
                                <tr>
                                    <td>Scanning camera sensor</td>
                                    <td class="valu">2/3″ High-speed global shutter sensor</td>
                                </tr>
                                <tr>
                                    <td>Nosepiece</td>
                                    <td class="valu">3 hole</td>
                                </tr>
                                <tr>
                                    <td>Light source</td>
                                    <td class="valu">10W LED (Lifetime: 25,000 Hours)</td>
                                </tr>
                                <tr>
                                    <td>Slide capacity</td>
                                    <td class="valu">1 Slide</td>
                                </tr>
                                <tr>
                                    <td>Slide dimensions</td>
                                    <td class="valu">75 x 25mm</td>
                                </tr>
                                <tr>
                                    <td>Barcode support</td>
                                    <td class="valu">1D: Interleaved 2 of 5, Code 39, Code 128
                                        2D: QR Code (optional)</td>
                                </tr>
                                <tr>
                                    <td>Computer</td>
                                    <td class="valu">
                                        • Intel Core i7 Processor,• GPU with 4GB dedicated graphics RAM<br>
                                        • 16GB RAM<br>
                                        • 128GB SSD & 1TB SATA Disk
                                    </td>
                                </tr>
                                <tr>
                                    <td>Monitor</td>
                                    <td class="valu">21 inch - 27inch</td>
                                </tr>
                                <tr>
                                    <td>Interface</td>
                                    <td class="valu">USB 3.0</td>
                                </tr>
                                <tr>
                                    <td>Dimensions</td>
                                    <td class="valu">395 x 330 x 350mm</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="home-certif">
        <div class="container text-center">
            <div class="HCT1">CE IVD & ISO</div>
            <h2>Certifications</h2>
            <img src="../assets/images/ce.png">
            <img src="../assets/images/iso1.png">
            <img src="../assets/images/iso2.png">
        </div>
    </div>
</div>
<app-contact-sales></app-contact-sales>