<!-- Page sticky Header starts-->
<div id="product-dropdown" class="product-dropdown sticky-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-2 PD-name">
        <span class="d-none d-sm-block text-blue font-tiempose">Livo A700</span>
        <div class="dropdown d-block d-sm-none">
          <button class="btn dropdown-toggle PD-drop" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Livo A700
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a target="_blank" href="../../assets/docs/Livo A700.pdf" class="dropdown-item PD-link2 active">Product
              brochure <i class="far fa-arrow-alt-circle-down"></i></a>
            <a class="dropdown-item PD-link2" href="A700#HowitworksCBC">How it works</a>
            <a class="dropdown-item PD-link2" href="A700#Benefits">Benefits</a>
          </div>
        </div>
      </div>

      <div class="mobile-sales-position mobile-display contact-btn-display">
        <button id="contact-test1" class="d-none contact-1" [routerLink]="['/myaccount']">
          CONTACT SALES
        </button>
      </div>

      <div class="col-6 col-md-10 text-right d-none d-sm-block">
        <a target="_blank" href="../../assets/docs/Livo A700.pdf" class="PD-link2 active">Product brochure <i
            class="far fa-arrow-alt-circle-down"></i></a>
        <a href="A700#HowitworksCBC" class="PD-link2">How it works</a>
        <a href="A700#Benefits" class="PD-link2 mr-0">Benefits</a>
        <button id="contact-test" class="d-none contact-1" [routerLink]="['/myaccount']">
          CONTACT SALES
        </button>
      </div>
    </div>
  </div>
</div>
<!-- Page sticky Header ends-->

<div class="livo-page">
  <!-- banner video section starts -->
  <div class="banner-container">
    <div class="container">
      <div class="row BMHeight">
        <div class="col-md-12 text-center">
          <div class="loader" style="display: none">
            <img src="../assets/images/a700-home-banner.png"
              class="img-fluid livo-image animated-m livo-opacity-0  fadeInUp" />
            <div style="
                height: 80px;
                left: 50%;
                position: absolute;
                top: 30%;
                transform: translate(-50%, -50%);
                width: 125px;
              ">
              <svg version="1.2" id="loading_svg" height="95" width="125" xmlns="http://www.w3.org/2000/svg"
                viewport="0 0 125 85" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle cx="60" cy="40" r="38" fill="none" stroke="#061F4A" stroke-width="2"></circle>
                <path fill="none" stroke="#061F4A" stroke-miterlimit="20" d="M52,21 L81,40 L52,60 Z"></path>
              </svg>
            </div>
          </div>
          <div class="livo-video-content" style="display: none">
            <div class="row">
              <div class="col-lg-6 text-left">
                <div class="APT1 animated-s livo-opacity-0  fadeInUp">
                  Livo A700
                </div>
                <h2 class="animated-s livo-opacity-0  fadeInUp font-lato">
                  THE SMART BLOOD MORPHOLOGY SOLUTION
                </h2>
                <h5 class="animated-s livo-opacity-0  fadeInUp">
                  18 part WBC &nbsp;<span class="seperator">|</span>&nbsp; 36
                  part RBC &nbsp;<span class="seperator">|</span>&nbsp; 4 part
                  PLT
                </h5>
                <!-- <h6 class="animated-s livo-opacity-0  fadeInUp d-none d-sm-block">with clump detection</h6> -->
                <p class="content-text res-w-75">
                  Powered by state-of-the-art artificial neural networks and
                  robotic microscopy, Livo A700 performs accurate monolayer
                  detection, cell identification, inclusion detection, parasite
                  detection, pre-classification and differential counting of all
                  cells with precision, relieving you of the most laborious part
                  of blood smear analysis.
                </p>
                <!-- <h2 class="animated-s livo-opacity-0  fadeInUp d-block d-sm-none">Automated blood morphology analysis
                            </h2>
                            <h5 class="animated-s livo-opacity-0  fadeInUp d-block d-sm-none">18 part WBC &nbsp;<span class="seperator">|</span>&nbsp; 36 part RBC &nbsp;<span class="seperator">|</span>&nbsp; 4 part PLT</h5>
                            <h6 class="animated-s livo-opacity-0  fadeInUp d-block d-sm-none">with clump detection</h6> -->
              </div>
              <div class="col-lg-6 d-flex align-items-center">
                <img src="../assets/images/a700-home-banner.png"
                  class="img-fluid livo-image animated-m livo-opacity-0  fadeInUp" />
              </div>
            </div>
          </div>
          <div class="livo-video a700-video-width" style="display: none;">
            <video id="livo-video" width="65%" height="65%" muted autoplay playsinline webkit-playsinline
              src="../../assets/images/A700_2.mp4"></video>
            <div style="
                position: absolute;
                width: 5px;
                height: 104%;
                top: -10px;
                z-index: 10;
                background: #f9f9f7;
              " 
              class="a700-left-video-line"></div>
            <div style="
                position: absolute;
                width: 5px;
                height: 104%;
                left: calc(100% - 15.5%);
                top: -10px;
                z-index: 10;
                background: #f9f9f7;
              "
              class="a700-right-video-line"></div>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <!-- banner video section ends -->

  <!-- how livo helps  starts-->
  <div class="container section-padding">
    <div class="row">
      <div class="col-lg-4">
        <p class="livo-headline">
          How Livo A700 helps laboratories to scale efficiently.
        </p>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 98.png" />
              <div>
                <p>64% Reduction</p>
                <p class="content-text">
                  In Turnaround Time (TAT) of Hematology Testing.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 97.png" />
              <div>
                <p>98%+ Sensitivity</p>
                <p class="content-text">
                  To never miss critical classes like Sickles & Schistocytes.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 105.png" />
              <div>
                <p>Total Elimination</p>
                <p class="content-text">
                  Of Pseudo Thrombocytopenia through automated platelet clump
                  detection.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 94.png" />
              <div>
                <p>Visual Evidence</p>
                <p class="content-text">
                  With documentation of results for every slides analysis.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 101.png" />
              <div>
                <p>Remote Review</p>
                <p class="content-text">
                  And convenient sign-off of cases whenever required.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 104.png" />
              <div>
                <p>Zero Downtime</p>
                <p class="content-text">
                  During staff shortages or increased smear reviews.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- how livo helps ends -->  

  <!-- film container starts -->
  <div class="film-container">
    <div class="text-center">
      <p class="livo-headline res-w-50 m-auto">
        Livo A700 generates morphology reports with high resolution cell images
        from its 100x objective, pre-classified, for the experts review.
      </p>
      <p class="watch-headline mt-4">
        Watch The Film <img src="assets/images/a700/play.png" class="ml-2" />
      </p>
    </div>
  </div>
  <!-- film container ends -->

  <!-- Features discription starts -->
  <div class="modules">
      <div class="part-container-grey">
        <div class="container">
          <div class="MTC-1">
            <h3 class="livo-headline">18 part WBC differential</h3>
            <p class="livo-capitalizetext mt-3">WITH HIGHEST IMAGE QUALITY</p>
            <p class="content-text res-w-50">
              Hover on any WBC to see its chromatin pattern, nucleolus, granules
              & size information clearly in highest resolution possible in
              bright-field microscopy
            </p>
            <div class="livo-wbc-video" style="position: relative">
              <video #livo_wbc_video id="livo_wbc_video" width="100%" height="100%" muted autoplay loop playsinline
                webkit-playsinline src="../../assets/play/WBC-View.mp4" class="video-shadow"></video>
              <div class="video-left"></div>
              <div class="video-right"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="part-container-white">
        <div class="container">
          <div class="MTC-1">
            <h3 class="livo-headline">36 part RBC differential</h3>
            <p class="livo-capitalizetext mt-3">FOLLOWING ICSH STANDARDS</p>
            <p class="content-text res-w-50">
              At-least 1000 RBCs are graded for their colour, size, shape &
              inclusion characteristics that can be viewed easily on hover.
            </p>
            <div class="livo-rbc-video" style="position: relative">
              <video #livo_rbc_video id="livo_rbc_video" width="100%" height="100%" muted autoplay loop playsinline
                webkit-playsinline src="../../assets/play/RBC-View.mp4" class="video-shadow"></video>
              <div class="video-left"></div>
              <div class="video-right"></div>
            </div>
            <br />
            <div class="livo-rbc-video" style="position: relative">
              <video #livo_rbc_shape_video id="livo_rbc_shape_video" width="100%" height="100%" muted autoplay loop
                playsinline webkit-playsinline src="../../assets/play/RBC-Shape-View.mp4" class="video-shadow"></video>
              <div class="video-left"></div>
              <div class="video-right"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="part-container-grey">
        <div class="container">
          <div class="MTC-1">
            <h3 class="livo-headline">4 part Platelet differential</h3>
            <p class="livo-capitalizetext mt-3">
              WITH TOTAL PLATELET COUNT ESTIMATION
            </p>
            <p class="content-text res-w-75">
              It automatically detects platelet clumps and 4 part platelet
              differential to rule out pseudo thrombocytopenia. Hover on any
              platelet to see its contextual information and exact size in
              microns.
            </p>
            <div class="livo_plt_est_video" style="position: relative">
              <video #livo_plt_est_video id="livo_plt_est_video" width="100%" height="100%" muted autoplay loop
                playsinline webkit-playsinline src="../../assets/play/PLT-Estimation-View.mp4" class="video-shadow"></video>
              <div class="video-left"></div>
              <div class="video-right"></div>
            </div>
            <br />
            <div class="livo-plt-video" style="position: relative">
              <video #livo_plt_video id="livo_plt_video" width="100%" height="100%" muted autoplay loop playsinline
                webkit-playsinline src="../../assets/play/PLT-View.mp4" class="video-shadow"></video>
              <div class="video-left"></div>
              <div class="video-right"></div>
            </div>
          </div>
        </div>
      </div> 
  </div>
  <!-- Features discription ends -->

  <!-- how livo works starts -->
  <div class="container section-padding text-center pb-0">
    <h3 class="livo-headline">How Livo A700 works</h3>
    <p class="livo-capitalizetext mt-3">CBP AND BLOOD CELL MORPHOLOGY</p>
    <div class="row my-5">
      <div class="col-md-4 p-3">
        <img src="assets/images/a700/Group 85.png" class="works-icon" />
        <p class="livo-headline-small mb-0">Prick And Smear</p>
        <p class="content-text">
          The slide to form perfect tongue shape for maximum monolayer
          formation.
        </p>
      </div>
      <div class="col-md-4 p-3">
        <img src="assets/images/a700/second.png" class="works-icon" />
        <p class="livo-headline-small mb-0">Stain The Slide</p>
        <p class="content-text">
          To enable easy visualisation of cells under the microscope.
        </p>
      </div>
      <div class="col-md-4 p-3">
        <img src="assets/images/a700/third.png" class="works-icon" />
        <p class="livo-headline-small mb-0">Scan With Livo A700</p>
        <p class="content-text">
          To automatically and accurately detect monolayer and its consisting
          cells.
        </p>
      </div>
    </div>

    <p class="download-brochure-text w-fit m-auto">
      Download The Product Brochure
      <img src="assets/images/a700/Group 95.png" class="ml-2" />
    </p>
  </div>
  <!-- how livo works ends -->
</div>

<!-- certifications starts -->
<div class="home-certif section-padding">
  <div class="container text-center">
    <h2>Certifications</h2>
    <p class="livo-capitalizetext mt-3 mb-5">CE IVD & ISO</p>
    <img src="../assets/images/ce.png" />
    <img src="../assets/images/iso1.png" />
    <img src="../assets/images/iso2.png" />
  </div>
</div>
<!-- certifications ends -->

<!-- contact section starts -->
<app-contact-sales></app-contact-sales>
<!-- contact section ends -->