<div class="aboutlivo">
    <div class="AL-banner" style="background-image: url('../../assets/images/about-banner.jpg')">
    </div>
    <div class="AL-about">
        <div class="container text-center">
            <h2>About Livo</h2>
            <div class="ALT1">At Livo we strive to build a healthier world</div>
            <p>At Livo, we understand that you can only make the most of life when you are healthy. This is why we are
                driven to develop products that bring healthcare innovation to the many, not the few, and make
                healthcare more affordable and accessible all over the world.</p>
            <p>We create breakthrough products in point-of-care blood analysis and whole slide imaging that grant you,
                your patients, and the entire community access to affordable and speedy healthcare when and where they
                are needed.
            </p>
        </div>
    </div>
    <div class="AL-content1">
        <div class="container">
            <div class="ALS1">
                <div class="row no-gutters align-items-center">
                    <div class="col-md-6">
                        <div class="AL-cont">
                            <h3>Livo next-generation<br>
                                products</h3>
                            <p>Our products are the perfect solution to challenges encountered at the point of care</p>
                            <a href="#" class="link">Explore Livo products <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../assets/images/about-img1.png" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="ALS1">
                <div class="row align-items-center">
                    <div class="col-md-6 order-2 order-md-1">
                        <img src="../assets/images/about-img2.png" class="img-fluid">
                    </div>
                    <div class="col-md-6 order-1 order-md-2">
                        <div class="AL-cont">
                            <h3>Livo Services</h3>
                            <p>Our services seek to explore diagnosis beyond borders by enabling easy access to healthcare professionals</p>
                            <a [routerLink]="['/teams']" class="link">Learn more <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>

                </div>
            </div>
            <!--<div class="ALS1">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <div class="AL-cont">
                            <h3>Livo Team</h3>
                            <p>Our team of professionals who make the impossible possible.</p>
                            <a [routerLink]="['/teams']" class="link">Meet the team <i class="fas fa-arrow-right"></i></a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <img src="../assets/images/about-img3.png" class="img-fluid">
                    </div>
                </div>
            </div>-->
        </div>
    </div>
    <div class="container">
        <div class="AL-content2">
            <div class="row">
                <div class="col-md-6">
                    <h3>We would love to <br>hear from you</h3>
                    <p>You can send us your questions, comments, suggestions or compliments by filling out the contact form. Messages received after working hours will be replied to the following day.</p>
                    <p>Work Hours <br>
                        9.30 - 18:30 (Monday - Staturday)</p>
                </div>
                <div class="col-md-6">
                    <div class="AL-Field">
                        <span class="AL-icon"><img src="../assets/images/user-tag.svg"></span>
                        <input type="" name="" placeholder="You Name. Ex. John Morrision">
                    </div>
                    <div class="AL-Field">
                        <span class="AL-icon"><img src="../assets/images/envelope-open-text.svg"></span>
                        <input type="" name="" placeholder="Your Email Ex. John@mail.com">
                    </div>
                    <div class="AL-Field">
                        <span class="AL-icon"><img src="../assets/images/phone-alt.svg"></span>
                        <input type="" name="" placeholder="Your Phone Ex. +99 0000000">
                    </div>
                    <div class="AL-Field">
                        <span class="AL-icon"><img src="../assets/images/edit.svg"></span>
                        <input type="" name="" placeholder="Write your message">
                    </div>
                    <button type="button" class="btn AL-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-contact-sales></app-contact-sales>
