<!-- Page sticky Header starts-->
<div id="product-dropdown" class="product-dropdown sticky-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-4 PD-name">
        <span class="d-none d-sm-block font-tiempose text-blue">Livo AutoSmearer</span>
        <div class="dropdown d-block d-sm-none">
          <button class="btn dropdown-toggle PD-drop" type="button" id="dropdownMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Livo AutoSmearer
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a target="_blank" href="../../assets/docs/Livo_AutoSmearer_Final.pdf"
              class="dropdown-item PD-link2 active">Product brochure <i class="far fa-arrow-alt-circle-down"></i></a>
            <a href="auto-smearer#Howitworks" class="dropdown-item PD-link2">How it works</a>
            <a href="auto-smearer#Benefits" class="dropdown-item PD-link2">Benefits</a>
          </div>
        </div>
      </div>

      <div class="mobile-sales-position contact-btn-display">
        <button id="contact-test1" class="d-none contact-1" [routerLink]="['/myaccount']">
          CONTACT SALES
        </button> 
      </div>

      <div class="col-6 col-md-8 text-right d-none d-sm-block">
        <a target="_blank" href="../../assets/docs/Livo_AutoSmearer_Final.pdf" class="PD-link2 active">Product brochure
          <i class="far fa-arrow-alt-circle-down"></i></a>
        <a href="auto-smearer#Howitworks" class="PD-link2">How it works</a>
        <a href="auto-smearer#Benefits" class="PD-link2 mr-0">Benefits</a>
        <button id="contact-test" class="d-none contact-1" [routerLink]="['/myaccount']">
          CONTACT SALES
        </button>
      </div>
      <!-- <div class="col-6 col-md-8 text-right d-block d-sm-none">
        <a
          href="mailto:sales@livo.ai?subject=Livo AutoSmearer"
          class="btn buybtn PD-link2"
          >Request quote</a
        >
      </div> -->
    </div>
  </div>
</div>
<!-- Page sticky Header ends-->

<div class="livo-page">
  <!-- banner section starts -->
  <div class="banner-container">
    <div class="container">
      <div class="row BMHeight">
        <div class="col-lg-12 text-center">
          <div class="loader" style="display: none">
            <img src="../assets/images/AutoSmearer-banner.png"
              class="img-fluid livo-image animated-m livo-opacity-0 fadeInUp" />
            <div style="
                height: 80px;
                left: 50%;
                position: absolute;
                top: 30%;
                transform: translate(-50%, -50%);
                width: 125px;
              ">
              <svg version="1.2" id="loading_svg" height="95" width="125" xmlns="http://www.w3.org/2000/svg"
                viewport="0 0 125 85" xmlns:xlink="http://www.w3.org/1999/xlink">
                <circle cx="60" cy="40" r="38" fill="none" stroke="#061F4A" stroke-width="2"></circle>
                <path fill="none" stroke="#061F4A" stroke-miterlimit="20" d="M52,21 L81,40 L52,60 Z"></path>
              </svg>
            </div>
          </div>
          <div class="livo-video-content" style="display: none">
            <div class="row">
              <div class="col-lg-6 text-left">
                <div class="APT1 animated-s livo-opacity-0 fadeInUp">
                  Livo AutoSmearer
                </div>
                <h2 class="animated-s livo-opacity-0 fadeInUp font-lato">
                  THE ULTIMATE SMEAR MAKER
                </h2>
                <h5 class="animated-s livo-opacity-0 fadeInUp">
                  Easy & consistent
                </h5>
                <p class="content-text res-w-75">
                  The Livo AutoSmearer allows you to create the perfect tongue
                  shaped smears consistently with the push of a button for fast
                  and easy blood analysis.
                </p>
              </div>
              <div class="col-md-6 d-flex align-items-center">
                <img src="../assets/images/AutoSmearer-banner.png"
                  class="img-fluid livo-image animated-m livo-opacity-0 fadeInUp" />
              </div>
            </div>
          </div>
          <div class="livo-video" style="display: none">
            <video id="livo-video" width="40%" height="40%" muted autoplay playsinline webkit-playsinline
              src="../../assets/images/Auto_Smearer.mp4"></video>
            <div style="
                position: absolute;
                width: 5px;
                height: 104%;
                top: -10px;
                z-index: 10;
                background: #f9f9f7;
                margin-left: -2px;
              "></div>
            <div style="
                position: absolute;
                width: 5px;
                height: 104%;
                left: calc(100% - 3px);
                top: -10px;
                z-index: 10;
                background: #f9f9f7;
              "></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner section ends -->

  <!-- how autosmearer helps  starts-->
  <div class="container section-padding">
    <div class="row">
      <div class="col-lg-4">
        <p class="livo-headline">
          How Livo Autosmearer helps laboratories to <br />scale efficiently.
        </p>
      </div>
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 98.png" />
              <div>
                <p>Reduction</p>
                <p class="content-text">
                  In time by smearing two slides simultaneously.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 97.png" />
              <div>
                <p>Quick & Easy</p>
                <p class="content-text">
                  Use of device to create perfect tongue shaped smears.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 105.png" />
              <div>
                <p>Increased</p>
                <p class="content-text">
                  Efficiency and production rate for the laboratories.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 94.png" />
              <div>
                <p>No Wastage</p>
                <p class="content-text">
                  Of blood samples when creating multiple slides.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 101.png" />
              <div>
                <p>Consistent</p>
                <p class="content-text">
                  And contour free identical slides everytime
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="inner-flex-feature-div">
              <img src="assets/images/a700/Group 104.png" />
              <div>
                <p>Compact</p>
                <p class="content-text">
                  And portable design for use as a tabletop device.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- how livo helps ends -->

  <!-- film container starts -->
  <div class="film-container">
    <div class="text-center">
      <p class="livo-headline res-w-50 m-auto">
        The Livo AutoSmearer can process two slides at a time which, combined
        with the rapid application of the blood smear technique itself,
        significantly increases the production rate of the lab.
      </p>
      <p class="watch-headline mt-4">
        Watch The Film <img src="assets/images/a700/play.png" class="ml-2" />
      </p>
    </div>
  </div>
  <!-- film container ends -->

  <!-- Features discription starts -->
  <div class="modules">
    <div class="part-container-grey">
      <div class="container">
        <div class="MTC-1">
          <h3 class="livo-headline">Perfect smears in seconds</h3>
          <p class="livo-capitalizetext mt-3">
            DESIGNED WITH CONVENIENCE AND EFFICIENCY IN MIND
          </p>
          <p class="content-text res-w-50">
            Say goodbye to long turnaround time and high manual labour costs.
            With Livo Autosmearer, any laboratory can easily expand their blood
            sample processing rate without compromising on storage space. The
            Livo AutoSmearer is compact and measures just 11.5 x 11 x 10 cm.
          </p>
          <div class="livo-wbc-video" style="position: relative">
            <img src="../assets/images/AutoSmearer-img3.jpg" class="img-fluid" />
          </div>
          <p class="content-text res-w-50 ml-auto text-right pt-5">
            Actual image of a smear made with the Livo Autosmearer
          </p>
        </div>
      </div>
    </div>
  </div>
  <!-- Features discription ends -->

  <!-- how autosmearer works starts -->
  <div class="container section-padding text-center pb-0">
    <h3 class="livo-headline">How Livo Autosmearer works</h3>
    <p class="livo-capitalizetext mt-3">AUTOMATIC BLOOD SMEARING DEVICE</p>
    <div class="row my-5">
      <div class="col-md-2 p-3"></div>
      <div class="col-md-4 p-3">
        <img src="assets/images/a700/Group 85.png" class="works-icon" />
        <p class="livo-headline-small mb-0">Load Your Slide</p>
        <p class="content-text">
          Onto the Livo AutoSmearer and place a drop of blood at the marked
          spots.
        </p>
      </div>
      <div class="col-md-4 p-3">
        <img src="assets/images/rapid-stain-clients/handclick.png" class="works-icon" />
        <p class="livo-headline-small mb-0">Push The Button</p>
        <p class="content-text">
          To start the smearing process and get your prepared slides in just 2
          seconds.
        </p>
      </div>
      <div class="col-md-2 p-3"></div>
    </div>
  </div>
  <!-- how autosmearer works ends -->
</div>

<!-- certifications starts -->
<div class="home-certif section-padding">
  <div class="container text-center">
    <h2>Certifications</h2>
    <p class="livo-capitalizetext mt-3 mb-5">CE IVD & ISO</p>
    <img src="../assets/images/ce.png" />
    <img src="../assets/images/iso1.png" />
    <img src="../assets/images/iso2.png" />
  </div>
</div>
<!-- certifications ends -->

<app-contact-sales></app-contact-sales>