<div class="container p-2">
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">Shipping and delivery</h3>
            </div>
        </div>
        <div class="card-body p-4">
            <p>1. Log into your Livo account</p>
            <p>2. Go to Orders</p>
            <p>3. You can track your shipment and delivery status for each order item upto date</p>
            <p>4. We will start shipping product one payment was paid by you</p>
            <p>5. Delivery charges varies based on location</p>
            <p>6. Within india we will deliver the product within 3-7 working days</p>
        </div>
    </div>
    <div class="card card-custom gutter-b mt-2">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">Cancellations and Returns</h3>
            </div>
        </div>
        <div class="card-body p-4">
            <p>You can raise a request to return your items with these simple steps:</p>
            <p>1. Log into your Livo account</p>
            <p>2. Go to Orders</p>
            <p>3. Click on 'Return/Cancel' against the item you wish to return or replacement</p>
            <p>4. Fill in the details and raise a return request</p>
            <p>Once you raise a request, you'll get an email that your request is
                being processed. Based on the item, your request may be automatically approved or you
                may be contacted for more details. If the request is approved, the item will be picked
                up after which you will get a replacement or refund. You can also track the status of
                your return request instantly from the 'My Orders' section of your Livo account.</p>
            <p>5. Refund will be credit within 5-7 working days from the date of cancellation</p>
            <!--begin::Accordion-->
            <!--<div class="accordion accordion-toggle-arrow" id="cancellation_accordion">

                <div class="card">
                    <div class="card-header" id="heading_2">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapse_2">
                            Account Settings
                        </div>
                    </div>
                    <div id="collapse_2" class="collapse" data-parent="#cancellation_accordion">
                        <div class="card-body p-2">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                            squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer
                            labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo.
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                            haven't heard of them accusamus labore sustainable VHS.</div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="heading_3">
                        <div class="card-title collapsed" data-toggle="collapse" data-target="#collapse_3">
                            Application Options
                        </div>
                    </div>
                    <div id="collapse_3" class="collapse" data-parent="#cancellation_accordion">
                        <div class="card-body p-2">Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
                            terry
                            richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                            truck
                            quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it
                            squid
                            single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft
                            beer
                            labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice
                            lomo.
                            Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably
                            haven't heard of them accusamus labore sustainable VHS.</div>
                    </div>
                </div>
            </div>-->
            <!--end::Accordion-->
        </div>
    </div>
</div>