<div class="AddtoCart">
    <div class="container">
        <div class="AC-content1">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <img src="../../assets/images/a1000-add.jpg" class="img-fluid">
                    <div class="AC-icons">
                        <div class="E-icon">
                            <img src="../../assets/images/warranty.svg">
                            <div class="E-name">1 year Warrenty</div>
                        </div>
                        <div class="E-icon">
                            <img src="../../assets/images/shipping.svg">
                            <div class="E-name">Free Shipping</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="P-name">Livo A1000
                        <select class="select">
                            <option value="volvo">Qty 1</option>
                            <option value="saab">Qty 1</option>
                        </select></div>
                    <div class="row align-items-center" style="padding-bottom: 20px;">
                        <div class="col-6 price">200,0 USD</div>
                        <div class="col-6 text-right"><button type="button" class="btn buybtn">Add to Bucket</button>
                        </div>
                    </div>
                    <div class="details">
                        <table class="table table-borderless">
                            <tr>
                                <td class="head">Processor</td>
                                <td>Powerful i7 processor</td>
                            </tr>
                            <tr>
                                <td class="head">Memory</td>
                                <td>Mamory amount</td>
                            </tr>
                            <tr>
                                <td class="head">Input</td>
                                <td>Monitor with HDMI Cable</td>
                            </tr>
                            <tr>
                                <td class="head">Size and<br>Weight</td>
                                <td><span>Height:</span> 12 inches (30.5 cm)<br>
                                    <span>Width:</span> 14 inches (35.5 cm)<br>
                                    <span>Weight:</span> 12.0 pounds (5.44 kg)</td>
                            </tr>
                            <tr>
                                <td class="head">In the box</td>
                                <td>
                                    <ul style="padding-left: 20px;">
                                        <li>Livo Device</li>
                                        <li>Connector</li>
                                        <li>Test kit (5 pcs)</li>
                                        <li>Device Manual</li>
                                        <li>Driver instalation DVD</li>
                                    </ul>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <button type="button" class="btn Review-btn mt-20">Review Bucket</button>
                </div>
            </div>
        </div>
        <div class="AC-content2">
            <h3>Recommendations<br> for you.</h3>
            <div class="row">
                <div class="col text-center">
                    <div class="Recom-product">
                        <div class="P-img">
                            <img src="../../assets/images/a700-add.png">
                        </div>
                        <div class="P-name">Livo A700</div>
                        <div class="P-price ">200,000 IDR</div>
                        <button type="button" class="btn buybtn">Add to Bucket</button>
                    </div>
                    <div class="Recom-product">
                        <div class="P-img">
                            <img src="../../assets/images/HemaStainer-add.png">
                        </div>
                        <div class="P-name">HemaStainer</div>
                        <div class="P-price ">200,000 IDR</div>
                        <button type="button" class="btn buybtn">Add to Bucket</button>
                    </div>
                    <div class="Recom-product">
                        <div class="P-img">
                            <img src="../../assets/images/AutoSmearer-add.png">
                        </div>
                        <div class="P-name">AutoSmearer</div>
                        <div class="P-price ">200,000 IDR</div>
                        <button type="button" class="btn buybtn">Add to Bucket</button>
                    </div>
                </div>
            </div>
            <div class="text-center" style="padding-top: 30px;"><a href="#" class="learmore">See all Livo products <i
                        class="fas fa-arrow-right"></i></a></div>
        </div>
    </div>
</div>