<div class="Contact">
    <div class="C-banner" style="background-image: url('../../assets/images/contact-banner.png')">
        <div class="container d-none d-sm-block">
            <div class="row">
                <div class="col-md-6 col-lg-5">
                    <h2>We want to hear<br>
                        from you</h2>
                    <p>You can also send us your questions, suggestions, complaints or praise by filling out the contact
                        form.
                        Messages received outside of working hours will be replied to the following working day.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container d-block d-sm-none">
        <h2>We want to hear<br>
            from you</h2>
        <p>You can also send us your questions, suggestions, complaints or praise by filling out the contact
            form.
            Messages received outside of working hours will be replied to the following working day.</p>
    </div>
    <div class="C-content1">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-lg-6">
                    <div class="CC-box1">
                        <div class="CCT1">I am a</div>
                        <div class="row">
                            <div class="col-6"><button type="button" class="btn CC-btn active"><i
                                        class="fas fa-check-circle"></i>
                                    Customer</button></div>
                            <div class="col-6"><button type="button" class="btn CC-btn"><i
                                        class="fas fa-check-circle"></i>
                                    Distributor</button></div>
                            <div class="col-6"><button type="button" class="btn CC-btn"><i
                                        class="fas fa-check-circle"></i>
                                    Doctor</button></div>
                            <div class="col-6"><button type="button" class="btn CC-btn"><i
                                        class="fas fa-check-circle"></i>
                                    Pathologist</button></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-contact-sales></app-contact-sales>
