<div id="product-dropdown" class="product-dropdown sticky-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-md-4 PD-name">
                <span class="d-none d-sm-block">Livo Digital Radiology</span>
                <div class="dropdown d-block d-sm-none">
                    <button class="btn dropdown-toggle PD-drop" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Livo Digital Radiology
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="digital-radiology#Benefits" class="dropdown-item PD-link2">Benefits</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-8 text-right d-none d-sm-block">
                <a href="digital-radiology#Benefits" class="PD-link2">Benefits</a>
                <!--<a class="btn buybtn PD-link2" target="__blank" href="https://diagnostics.scanup.com">Login</a>-->
                <a class="btn buybtn PD-link2" href="mailto:sales@livo.ai&subject=Livo Digital Radiology">Contact
                    sales</a>
            </div>
            <div class="col-6 col-md-8 text-right d-block d-sm-none">
                <a class="btn buybtn PD-link2" href="mailto:sales@livo.ai&subject=Livo Digital Radiology">Contact
                    sales</a>
            </div>
        </div>
    </div>
</div>
<div class="Tele-Pathology-page">
    <div class="TP-content1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="TPT1 animated-s livo-opacity-0  fadeInUp">Livo Digital Radiology</div>
                    <h2 class="animated-s livo-opacity-0  fadeInUp">The right radiologist <br> at the right time</h2>
                    <div class="animated-m livo-opacity-0  fadeInUp d-block d-sm-none BMHeight">
                        <img src="../assets/images/Scanup-banner.png" class="img-fluid">
                    </div>
                    <div class="row p-3">
                        <div class="col-6">
                            <div class="TPT2 d-none d-sm-block">For Radiologists</div>
                            <div class="TPT2 d-block d-sm-none">For <br> Radiologists</div>
                            <a class="button learn-more" href="https://radiologist.scanup.com/login?registration=true" target="___blank">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">Sign up</span>
                            </a>
                        </div>
                        <div class="col-6">
                            <div class="TPT2">For Healthcare Providers</div>
                            <a class="button learn-more" href="https://diagnostics.scanup.com/login?registration=true" target="___blank">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">Sign up</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-right animated-m livo-opacity-0  fadeInUp d-none d-sm-block">
                    <img src="../assets/images/Scanup-banner.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="TP-content2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    <h3>Livo Digital Radiology Reporting</h3>
                    <p>If you cannot afford a radiologist as part of your healthcare team and are referring your patients to an external service or consultant, their diagnosis can take longer to make, which can hinder their optimal treatment and care.</p>
                    <p>Our teleradiology service Scanup minimises the health risks and anxiety that delayed diagnoses may cause to patients . It enables you to interpret radiology images on site and in real time, and protect your patients from walking out
                        of your clinic with a potentially undiscovered condition
                    </p>
                    <p>Charges are on a fee-per-case basis at a very affordable rate so you get expert opinion at a lower price.</p>
                    <p>Scanup was born to fast-track your clinical practice to efficient imaging interpretation through a network of on-demand expert radiologists. Give it a chance and see the difference it can make to your workflow and your patients.</p>
                    <a href="#">Download product manual <i class="far fa-arrow-alt-circle-down"></i></a>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="TP-points"><img src="../assets/images/instant.svg"> Instant image review</div>
                    <div class="TP-points"><img src="../assets/images/expert.svg"> Certified radiologists available 24/7
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="TP-content3" id="Benefits">
        <div class="container">
            <h3>Why Livo <span>Digital Radiology</span>?</h3>
            <p>Our teleradiology service enhances patient care by removing delays in interpretation of images. It also offers followup after a diagnosis has been made. Other benefits include:</p>
            <div class="TPC-box">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>24/7 access to a global network of vetted radiologists</li>
                            <li>Ability to scan and send high-quality images anywhere in the world</li>
                            <li>A useful second opinion on a previous diagnosis</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Reduced overhead costs associated with employing a full-time radiologist if you are just starting your practice and have a limited budget</li>
                            <li>Instant review of images and swift diagnosis</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="TP-content7">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <h3>With our <span>digital radiology</span> platform, we bring the world of medical diagnosis to you in one click!</h3>
                    <a href="mailto:sales@livo.ai?subject=About Scanup" class="btn TP7-btn">Contact Sales <i
                            class="fas fa-arrow-right"></i></a>
                </div>
                <div class="col-md-5">
                    <img src="../assets/images/Scanup-img1.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div>
<app-contact-sales></app-contact-sales>