<div id="product-dropdown" class="product-dropdown sticky-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-md-4 PD-name">
                <span class="d-none d-sm-block">Livo Digital Pathology</span>
                <div class="dropdown d-block d-sm-none">
                    <button class="btn dropdown-toggle PD-drop" type="button" id="dropdownMenuButton"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Livo Digital Pathology
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a href="digital-pathology#Benefits" class="dropdown-item PD-link2">Benefits</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-8 text-right d-none d-sm-block">
                <a href="digital-pathology#Benefits" class="PD-link2">Benefits</a>
                <!--<a class="btn buybtn PD-link2" target="_blank" href="https://diagnostics.livo.ai">Login</a>-->
                <a class="btn buybtn PD-link2" href="mailto:sales@livo.ai&subject=Livo Digital Pathology">Contact
                    sales</a>
            </div>
            <div class="col-6 col-md-8 text-right d-block d-sm-none">
                <a class="btn buybtn PD-link2" href="mailto:sales@livo.ai&subject=Livo Digital Pathology">Contact
                    sales</a>
            </div>
        </div>
    </div>
</div>
<div class="Tele-Pathology-page">
    <div class="TP-content1">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-5">
                    <div class="TPT1 animated-s livo-opacity-0  fadeInUp">Livo Digital Pathology</div>
                    <h2 class="animated-s livo-opacity-0  fadeInUp">Faster and Borderless Diagnosis</h2>
                    <div class="animated-m livo-opacity-0  fadeInUp d-block d-sm-none BMHeight">
                        <img src="../assets/images/Tele-Pathology-banner.png" class="img-fluid">
                    </div>
                    <div class="row p-3">
                        <div class="col-6">
                            <div class="TPT2 d-none d-sm-block">For Pathologists</div>
                            <div class="TPT2 d-block d-sm-none">For <br>Pathologists</div>
                            <a class="button learn-more" href="https://pathology.livo.ai/auth/register"
                                target="__blank">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">Sign up</span>
                            </a>
                        </div>
                        <div class="col-6">
                            <div class="TPT2">For Healthcare Providers</div>
                            <a class="button learn-more" href="https://diagnostics.livo.ai/auth/register"
                                target="__blank">
                                <span class="circle" aria-hidden="true">
                                    <span class="icon arrow"></span>
                                </span>
                                <span class="button-text">Sign up</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-7 text-right animated-m livo-opacity-0  fadeInUp d-none d-sm-block">
                    <img src="../assets/images/Tele-Pathology-banner.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
    <div class="TP-content2">
        <div class="container">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    <h3>Livo Digital Pathology Reporting</h3>
                    <p>Our telepathology services provide the perfect solution to delays caused by staff holidays, sick
                        leave or other incidental absences. Manned by a global network of certified senior pathologists,
                        the Livo telepathology platform eliminates common bottlenecks patients encounter in the testing
                        and lab environment, thus fast-tracking diagnosis and beginning of treatment.
                    </p>
                    <a href="#">Download product manual <i class="far fa-arrow-alt-circle-down"></i></a>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="TP-points"><img src="../assets/images/instant.svg">
                        24/7 instant diagnosis
                    </div>
                    <div class="TP-points"><img src="../assets/images/expert.svg">
                        Expert pathologists at your finger
                        tips
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="TP-content3" id="Benefits">
        <div class="container">
            <h3>Why Livo <span>Digial Pathology</span>?</h3>
            <p>Using high-precision diagnostic software, our telepathology services provide quality evaluation and
                review of slides. Other benefits of the service include:</p>
            <div class="TPC-box">
                <div class="row">
                    <div class="col-md-6">
                        <ul>
                            <li>High-resolution scanning (H&E - Histopathology, IHC - Histopathology, Cytopathology, Hematology)</li>
                            <li>Scan and send slide images seamlessly from our A-1000 scanner to anywhere in the world</li>
                            <li>Eliminate delays due to staff holidays, sick leave, or other incidental absences</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul>
                            <li>Follow up on cases as needed even after reporting and diagnosis have concluded</li>
                            <li>Save time by digitising slides in seconds</li>
                            <li>View images in high resolution and at your desired magnification</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="TP-content4-2 d-block d-sm-none">
            <img src="../assets/images/Tele-Pathology-img7.png" class="w-100">
            <div class="TPC-content">
                <h3>With our <span>Digital pathology</span> platform, we bring the world of medical <br>diagnosis to
                    you in one click!</h3>
            </div>
        </div>
        <div class="TP-content4 d-none d-sm-block">
            <div class="TPC-content">
                <h3>With our <span>Digital pathology</span> platform,<br> we bring the world of medical <br>diagnosis to
                    you in one click!</h3>
            </div>
            <img src="../assets/images/Tele-Pathology-img1.png" class="w-100">
        </div>
        <div class="TP-content5">
            <div class="TP-bg"></div>
            <div class="row align-items-center">
                <div class="col-md-6 order-2 order-md-1">
                    <img src="../assets/images/Tele-Pathology-img2.png" class="img-fluid">
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <h3>H&E Histopathology</h3>
                    <p>Scan all types of H&E samples, even with variable sample thickness</p>
                </div>
            </div>
        </div>
        <div class="TP-content5">
            <div class="TP-bg" style="background-color: #EFE8E1;"></div>
            <div class="row align-items-center">

                <div class="col-md-6">
                    <h3>IHC - Histopathology</h3>
                    <p>With high-resolution scanning, easily evaluate antigen location and expression patterns on your IHC slides</p>
                </div>
                <div class="col-md-6">
                    <img src="../assets/images/Tele-Pathology-img3.png" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="TP-content5">
            <div class="TP-bg" style="background-color: #C3DFE1;"></div>
            <div class="row align-items-center">
                <div class="col-md-6 order-2 order-md-1">
                    <img src="../assets/images/Tele-Pathology-img4.png" class="img-fluid">
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <h3>Cytopathology</h3>
                    <p>Scan and share all types of cytopathology slides for fast diagnosis</p>
                </div>
            </div>
        </div>
        <div class="TP-content5">
            <div class="TP-bg" style="background-color: #EFE8E1;"></div>
            <div class="row align-items-center">

                <div class="col-md-6">
                    <h3>Hematology</h3>
                    <p>High-quality whole slide imaging for all types of blood films</p>
                </div>
                <div class="col-md-6">
                    <img src="../assets/images/Tele-Pathology-img5.png" class="img-fluid">
                </div>
            </div>
        </div>
    </div>

    <div class="TP-content6">
        <div class="container">
            <h2>Which process yields <br> <span>better smears</span>?</h2>
            <div class="TPT1">Choose the better option</div>
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="TPbox">
                        <img src="../assets/images/machine1.png">
                        <h3>Manual microscopy</h3>
                        <ul>
                            <li>Test results and interpretation delay if on-site pathologist is unavailable</li>
                            <li>Can cause back pain and eye strain to pathologists</li>
                            <li>Difficult to share slides with others</li>
                            <li>Slow decision-making and diagnoses</li>
                            <li>Slows down the learning process</li>
                            <li>Difficulty in storage, cataloging, and slide management</li>
                            <li>Slides physically degrade or break over time</li>
                            <li>High turnaround time - low throughput and reporting speed</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="TPbox">
                        <img src="../assets/images/Tele-Pathology-img6.jpg" class="img-fluid">
                        <h3>Livo Digital Pathology</h3>
                        <ul>
                            <li>Global network of certified pathologists available 24/7</li>
                            <li>Convenient to use, no back pain or eye strain</li>
                            <li>Seamless worldwide image sharing</li>
                            <li>Rapid consultation and instant diagnosis</li>
                            <li>Enables faster teaching and learning</li>
                            <li>Easy storage, cataloging, and management of images</li>
                            <li>High-resolution images that do not degrade</li>
                            <li>Low turnaround time - high throughput and reporting speed</li>
                        </ul>
                        <div class="text-center">
                            <a class="btn buybtn PD-link2" href="mailto:sales@livo.ai&subject=Livo Digital Pathology">Contact
                                sales</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-contact-sales></app-contact-sales>
