<div class="Distributors">
    <div class="D-banner">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2>Distributors</h2>
                <div>Reports show that point-of-care diagnostics have been experiencing phenomenal growth in
                    recent years. Apart from ever-rising demand for faster and portable devices by both physicians and
                    patients and increasing support from the government, another major factor contributing to this trend
                    is a strong distribution network across the globe.</div>

                <p>Livo is on a path to become a leader in AI-powered medical diagnostics. Our innovative line of
                    products provide groundbreaking solutions to some of the most stubborn challenges encountered in
                    point-of-care delivery today.</p>
                <p>From the reagentless AI-powered Livo blood analyser to the Livo Pathology Whole Slide Scanner A-1000,
                    the Livo HemaStainer, and the Livo AutoSmearer, our devices have consistently provided simple but
                    practical solutions to challenges experienced by medical personnel. </p>
                <p>Currently, Livo has one of the most accessible product lines in India. Our devices are equipped with
                    IoT technology in order to make them accessible from remote locations, particularly in Tier 3, Tier
                    4 and Tier 5 cities or towns. Humbly, we expect them to rank among the most sought-after products in
                    the Asian market.</p>
                <p>But India and Asia are only a stepping stone – our ambition is to reach every corner of the planet.
                    To that end, we are developing blueprints for multiple other use cases, including automated semen
                    analysis, breast cancer analysis, oral cancer cell detection, and cervical cancer detection.
                    Therefore, we are committed to establishing a robust distribution network that would adequately
                    cater to the demand we foresee for our products in the market. </p>
                <p>Our goal is to build a healthier world by reenvisioning healthcare devices so that they become
                    accessible and affordable at the point of care.
                </p>
                <p>With focus, determination, innovation, and mutually beneficial partnerships, we believe this is
                    possible.</p>
            </div>
        </div>
        <div class="D-content1">
            <div class="row justify-content-center">
                <div class="col-md-9">
                    <h3>Ready to be our <br> distributor?</h3>
                    <a href="#" class="link">fill distributor form <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
