<footer>
  <div class="container" style="margin-top: 30px">
    <div class="row">
      <div class="col-md-8 order-2 order-md-1">
        <div class="pb-20 d-none d-sm-block d-md-block">
          <img src="../assets/images/logo.svg" class="footer-logo" />
        </div>
        <div class="row F-links">
          <div class="col col-md-4 col-lg-3">
            <h3>Products</h3>
            <div class="links">
              <a [routerLink]="['/A700']">Livo A700</a>
              <a [routerLink]="['/']">Livo BP18</a>
              <a [routerLink]="['/']">Livo IH18</a>
              <!-- <a [routerLink]="['/A1000']">A1000</a> -->
              <a [routerLink]="['/auto-smearer']">Livo Autosmearer</a>
              <a [routerLink]="['/']">Livo S10</a>
              <a [routerLink]="['/']">Livo WS</a>
              <a [routerLink]="['/rapid-stain']">Livo Rapid Stain</a>
              <!-- <a [routerLink]="['/hema-stainer']">Livo HemaStainer</a> -->
            </div>
          </div>
          <div class="col col-md-4 col-lg-3">
            <h3>Company</h3>
            <div class="links">
              <a [routerLink]="['/about-livo']">About Livo</a>
              <!--<a [routerLink]="['/roadmap']">Roadmap</a>-->
              <!--<a [routerLink]="['/teams']">Team</a>-->
              <a [routerLink]="['/contact-us']">Contact us</a>
              <a [routerLink]="['/privacy']">Privacy</a>
              <a [routerLink]="['/terms-and-conditions']"
                >Terms and conditions</a
              >
            </div>
          </div>
          <div class="col col-md-4 col-lg-3">
            <h3>Services</h3>
            <div class="links">
              <a [routerLink]="['/digital-pathology']"
                >Livo Digital Pathology</a
              >
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4 order-1 order-md-2">
        <div class="got-que">
          <h2>Have Any Questions?</h2>
          <div class="GQT1"><img src="assets/images/a700/Group 151.png" /> info@livo.ai</div>
          <div class="GQT1"><img src="assets/images/a700/call.png" />040-48544896 <span class="mx-2 text-white">|</span> +1 30220 52708</div>

          <div class="footer-subscribe">
            <p>Subscribe To Our Newsletter</p>
            <div>
              <input type="text" placeholder="Email Address" />
              <button>SUBSCRIBE</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="copyright">
        <div class="pb-20 d-md-none d-lg-none d-xl-none"><img src="../assets/images/logo.svg" height="28px">
        </div>
        <div class="row align-items-center">
            <div class="col-md-6 order-2 order-md-1 copyright-fonts">©2022 Radoratory Technologies Private Limited. All Rights Reserved.</div>
            <div class="col-md-6 order-1 order-md-2 social">
                <a href="#"><img src="assets/images/a700/twitter.png"></a>
                <a href="#"><img src="assets/images/a700/fb.png"></a>
                <a href="#"><img src="assets/images/a700/insta.png"></a>
                <a href="#"><img src="assets/images/a700/link.png"></a>
            </div>
        </div>
    </div>
  </div>
</footer>
