<div id="product-dropdown" class="product-dropdown sticky-top">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-6 col-md-4 PD-name">
                <span class="d-none d-sm-block">Livo HemaStainer</span>
                <div class="dropdown d-block d-sm-none">
                    <button class="btn dropdown-toggle PD-drop" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Livo HemaStainer
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <a target="blank" href="../../assets/docs/Livo HemaStainer Final.pdf" class="dropdown-item PD-link2 active">Product
                            brochure <i class="far fa-arrow-alt-circle-down"></i></a>
                        <a href="hema-stainer#Howitworks" class="dropdown-item PD-link2">How it works</a>
                        <a href="hema-stainer#Benefits" class="dropdown-item PD-link2">Benefits</a>
                    </div>
                </div>
            </div>
            <div class="col-6 col-md-8 text-right d-none d-sm-block">
                <a target="blank" href="../../assets/docs/Livo HemaStainer Final.pdf" class="PD-link2 active">Product
                    brochure <i class="far fa-arrow-alt-circle-down"></i></a>
                <a href="hema-stainer#Howitworks" class="PD-link2">How it works</a>
                <a href="hema-stainer#Benefits" class="PD-link2">Benefits</a>
                <a href="mailto:sales@livo.ai?subject=Livo HemaStainer" class="btn buybtn PD-link2">Request quote</a>
            </div>
            <div class="col-6 col-md-8 text-right d-block d-sm-none">
                <a href="mailto:sales@livo.ai?subject=Livo HemaStainer" class="btn buybtn PD-link2">Request quote</a>
            </div>
        </div>
    </div>
</div>
<div class="HemaStainer-page">
    <div class="container">
        <div class="BMHeight">
            <div class="HST1 animated-s livo-opacity-0  fadeInUp">Livo HemaStainer</div>
            <h2 class="animated-s livo-opacity-0  fadeInUp">Click & walk away</h2>
            <div class="HST2 animated-s livo-opacity-0  fadeInUp">Blood smears stained, washed and ready in <br> 60 seconds
            </div>
            <div class="row justify-content-center animated-m livo-opacity-0  fadeInUp">
                <div class="col-md-9 text-center">
                    <img src="../assets/images/HemaStainer-banner.png" class="img-fluid">
                </div>
            </div>
        </div>
        <div class="HS-content1">
            <div class="row">
                <div class="col-md-6 order-2 order-md-1">
                    <h3>Livo HemaStainer</h3>
                    <p>The Livo HemaStainer stains peripheral blood smears and prepares them for microscopy analysis in a fraction of the time it takes skilled lab technicians to do it, thus significantly reducing total turnaround time and quality variability.</p>
                </div>
                <div class="col-md-6 order-1 order-md-2">
                    <div class="HS-points"><img src="../assets/images/Efficient.svg"> Efficient stain usage</div>
                    <div class="HS-points"><img src="../assets/images/easy.svg"> Easy to operate</div>
                </div>
            </div>
        </div>
    </div>
    <div style="background-color: #fff;">
        <img src="../assets/images/HemaStainer-img1.jpg" class="img-fluid">
    </div>

    <div class="HS-content1-2">
        <div class="container">
            <h4 class="text-center">Bring your blood processing operations<br> into the <span>age of automation</span>
            </h4>
            <p class="text-center">Quality and speed that keep pace with your sample loads</p>
            <hr>
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <p>With the Livo HemaStainer, gone are the days when your only option for processing blood samples was relying on specialised manual labor, which often results in extended turnaround times that delay patient care and might even be a luxury
                        for healthcare practices that operate on tight budgets.
                    </p>
                    <p>
                        Designed with the perishable nature of blood products in mind, this compact, fully automated device measures only 31.5 x 28 x 18cm and allows you to stain any number of blood smears with unrivalled speed and precision, eliminating idle time and the risk
                        of cross contamination.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="HS-content2">
        <div class="container">
            <div class="text-center" style="padding: 30px 0;">
                <img src="../assets/images/HemaStainer-img2.jpg" class="img-fluid">
            </div>
            <h3 id="Benefits">In pursuit of <span>highest <br>staining</span> quality</h3>
            <div class="Wbox1">
                <div class="row">
                    <div class="col-md-6">
                        <div class="HSH1">Textbook quality staining at the push of a button</div>
                        <p>The automated two-step process ensures consistent staining quality every time, without fail
                        </p>
                    </div>
                    <div class="col-md-6">
                        <div class="HSH1">No cross contamination</div>
                        <p>The Livo HemaStainer uses fresh stain every time, thus eliminating the risk of cross contamination
                        </p>
                    </div>
                </div>
            </div>
            <h3><span>Reduce cost</span> and <br>turnaround time</h3>
            <div class="row">
                <div class="col-md-6">
                    <div class="Wbox1">
                        <div class="row align-items-center pb-20">
                            <div class="col-md-3"><img src="../assets/images/cost.svg" class="img-fluid"></div>
                            <div class="col-md-9 HSH2">Cost savings</div>
                        </div>
                        <p><b>Maximum efficiency and minimal stain usage</b></p>
                        <p>Apart from being the most affordable automated hematology stainer on the market, the Livo HemaStainer allows you to save thousands of rupees in yearly material costs due to its precise use of stain for each slide, resulting in
                            zero waste.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="Wbox1">
                        <div class="row align-items-center pb-20">
                            <div class="col-md-3"><img src="../assets/images/time.svg" class="img-fluid"></div>
                            <div class="col-md-9 HSH2">Save time</div>
                        </div>
                        <p><b>Stain in 60 seconds & shorten turnaround time</b></p>
                        <p>Unlike the typical 10-12 minute staining time, the Livo HemaStainer stains and washes your slides in a mere 60 seconds with just the push of a button, reducing both workflow steps and idle time common to manual staining.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="HS-content4">
            <h3>Other Benefits</h3>
            <div class="row">
                <div class="col-md-7">
                    <ul>
                        <li>Portable yet large enough to accommodate all your samples</li>
                        <li>No human error, no fatigue no complaints</li>
                    </ul>
                </div>
                <div class="col-md-5">
                    <ul>
                        <li>Easy to operate: Just load, click and get ready to load the next slide.</li>
                        <li>1-year warranty</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="HS-content3">
        <div class="container">
            <h2>What is your <span>Preferred <br>Staining</span> Option?</h2>

            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="HSbox">
                        <img src="../assets/images/HemaStainer-img3.png">
                        <h3>Manual staining</h3>
                        <ul>
                            <li>Standard blood processing time (10-12 minutes)</li>
                            <li>Risk of cross-contamination</li>
                            <li>Wastage of materials from repeated processes</li>
                            <li>Human error, fatigue increase turnaround time</li>
                            <li>Requires technical skill</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="HSbox">
                        <img src="../assets/images/HemaStainer-img4.png">
                        <h3>Livo HemaStainer</h3>
                        <ul>
                            <li>Fast blood processing time (60 seconds)</li>
                            <li>No risk of cross contamination</li>
                            <li>Efficient use of materials, money savings</li>
                            <li>Automated workflow and precision minimize turnaround time</li>
                            <li>Can be operated by anybody</li>
                        </ul>
                        <div class="text-center"><button type="button" class="btn buybtn">Request quote</button></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="Howitworks">
        <widget-steps [data]="data" [cls]="cls" [count]=1></widget-steps>
        <collapse-steps [data]="data" [cls]="cls" [count]=1></collapse-steps>
    </div>
</div>
<div class="home-certif">
    <div class="container text-center">
        <div class="HCT1">CE IVD & ISO</div>
        <h2>Certifications</h2>
        <img src="../assets/images/ce.png">
        <img src="../assets/images/iso1.png">
        <img src="../assets/images/iso2.png">
    </div>
</div>
<app-contact-sales></app-contact-sales>