<div class="home-bannersec1">
  <div class="container">

    <h2 class="animated-s livo-opacity-0  fadeInUp">AI & Robotics are transforming healthcare<br> Is your practice up
      to speed?</h2>

    <div class="row justify-content-center animated-m livo-opacity-0  fadeInUp">
      <div class="col-10 col-md-5 col-sm-6 HBT1">
        Offer affordable, accessible, accurate & faster diagnostics to your patients with AI
      </div>
    </div>


    <div class="row justify-content-center">
      <div class="col-md-12 text-center animated-m2 livo-opacity-0  fadeInUp main-image" style="display: none;">
        <img src="../../assets/images/all-3.png" class="img-fluid HB-banner-img">
      </div>
      <div class="main-video" style="display: none; position: relative;">
        <video id="main-video" width="100%" height="100%" autoplay muted playsinline webkit-playsinline
               src="../../assets/images/Comp_1_3.mp4"></video>
        <div style="position: absolute; width: 100%; height: 6px; bottom: 0px;
                background-color: #f9f9f7;"></div>
      </div>
    </div>

    <div class="row justify-content-center animated-m2 livo-opacity-0  fadeInUp">
      <div class="col-md-8 HBT2">
        We provide next-generation products for point-of-care blood, Pap smear analysis, and whole slide imaging to
        ensure that you can deliver accurate diagnosis faster. Harnessing the power of artificial intelligence, you have
        been granted entry to a world
        of unlimited and affordable testing.
      </div>
    </div>
  </div>
</div>
<!-- <div class="home-bannersec2 reveal" style="max-height: initial;">
    <div class="container">
        <div class="HBT1">Livo - Transforming Healthcare with Next-Gen Pathology Equipments</div>
        <p>We make next-generation pathology equipment that offer faster and borderless diagnosis to your patients. Our
            pathology equipment works through point-of-care blood analysis and whole slide imaging that grant access to
            affordable and speedy healthcare to address the unmet needs.</p>
        <p>Quality is our priority as we produce premium products that can be easily operated by operators in the
            laboratories.</p>
    </div>
    <div class="container">
        <div class="HBT1">Why Livo Pathology Equipment?</div>
        <p>Our automated pathology equipment is different from traditional equipment used for the analysis of blood
            tissue samples to examine and diagnose disease. We provide versatile and adaptable pathology equipment for
            your lab's needs.</p>
        <p>We look at the workplace of pathology doctors, nurses, and technologists and see it get bogged down by
            yesterday's technology when they need to diagnose cancer, dementia, diabetes and various other diseases as
            quickly and accurately as possible. Our primary focus is to constantly explore innovative ways to improve
            workflow in diagnostics labs.</p>
        <p>We designed pathology equipment around an imaging platform with integrated data systems providing fast, image-guided diagnosis to aid in the critical care of patients.</p>
    </div>
</div> -->
<div class="home-bannersec2 reveal" style="max-height: initial;">
  <div class="container">
    <div class="HBT1">Blood cell morphology analysis with 18 part differentials</div>
    <h2>Livo A700</h2>
    <!-- <p>The Livo A700 performs monolayer identification, cell identification, classification and differential
        counting with precision, relieving you of the most laborious part of blood smear analysis.</p> -->
    <div class="text-center pl-5">
      <a href="mailto:sales@livo.ai?subject=Livo A700" class="btn buybtn mr-20">Contact sales</a>
      <button class="learn-more" [routerLink]="['/A700']">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
        <span class="button-text">Learn more</span>
      </button>
    </div>
    <div class="text-center">
      <img src="../../assets/images/a700-home-banner.png" style="max-width: 80%;" class="img-fluid">
    </div>
  </div>
</div>
<div class="home-bannersec2 reveal" style="max-height: initial;">
  <div class="container">
    <div class="HBT1">State-of-the-art pathology scanner</div>
    <h2>Livo A1000</h2>
    <!-- <p>The Whole Slide Scanner Livo A1000 scans the processed slides in seconds, then uploads high-quality, digital
        images of them to the Livo digital pathology platform and sends them out for expert analysis.</p> -->
    <div class="text-center pl-5">
      <a href="mailto:sales@livo.ai?subject=Livo A1000" class="btn buybtn mr-20">Contact sales</a>
      <button class="learn-more" [routerLink]="['/A1000']">
                <span class="circle" aria-hidden="true">
                    <span class="icon arrow"></span>
                </span>
        <span class="button-text">Learn more</span>
      </button>
    </div>
    <div class="text-center" style="padding-top: 40px;">
      <img src="../../assets/images/livoA1000.jpg" class="img-fluid">
    </div>
  </div>
</div>
<div class="row no-gutters">
  <div class="col-md-6 reveal">
    <div class="home-bannersec2 mview">
      <div class="HBT1">The ultimate smear maker</div>
      <h2>Livo AutoSmearer</h2>
      <div class="text-center pl-5">
        <a href="mailto:sales@livo.ai?subject=Livo AutoSmearer" class="btn buybtn mr-20">Contact sales</a>
        <button class="learn-more" [routerLink]="['/auto-smearer']">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
          <span class="button-text">Learn more</span>
        </button>
      </div>
      <div class="text-center" style="padding-top: 40px;">
        <div class="text-center" style="    padding-top: 40px; position: absolute; bottom: 0px; width: 100%;">
          <img src="../../assets/images/LivoAutoSmearer.jpg" class="AS-img">
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6 reveal">
    <div class="home-bannersec2 mview left-border">
      <div class="HBT1">Stain blood smears in 60 secs</div>
      <h2>Livo HemaStainer</h2>
      <div class="text-center pl-5">
        <a href="mailto:sales@livo.ai?subject=Livo HemaStainer" class="btn buybtn mr-20">Contact sales</a>
        <button class="learn-more" [routerLink]="['/hema-stainer']">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
          <span class="button-text">Learn more</span>
        </button>
      </div>
      <div class="text-center" style="    padding-top: 40px; position: absolute; bottom: 0px; width: 100%;">
        <img src="../../assets/images/hema.jpg" class="HS-img">
      </div>
    </div>
  </div>
</div>

<div class="row no-gutters">
  <div class="col-md-6 reveal">
    <div class="home-bannersec2 left-border">
      <div class="HBT1">Faster diagnosis that spans borders</div>
      <h2>Livo Digital Pathology</h2>
      <div class="text-center pl-5">
        <a href="mailto:sales@livo.ai?subject=Livo Digital Pathology" class="btn buybtn mr-20">Contact sales</a>
        <button class="learn-more" [routerLink]="['/digital-pathology']">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
          <span class="button-text">Learn more</span>
        </button>
      </div>
      <div class="text-center" style="padding-top: 20px;">
        <img src="../../assets/images/monitor.jpg" class="DP-img">
      </div>

    </div>
  </div>
  <div class="col-md-6 reveal">
    <div class="home-bannersec2 left-border rapid-stain-box">
      <div class="HBT1">Stain blood smears in 60 secs</div>
      <h2>Livo Hematology Rapid Stain</h2>
      <!-- <p>This stain will give multiple colors and differential hues of the same color to different cellular
          components resulting in a clear contrasting field of view to make the cell differentials task easier. It
          gives you results in 60 secs, which is 10 times quicker than any other stain</p> -->
      <div class="text-center pl-5">
        <a href="mailto:sales@livo.ai?subject=Livo Hematology Rapid Stain" class="btn buybtn mr-20">Contact
          sales</a>
        <button class="learn-more" [routerLink]="['/rapid-stain']">
                    <span class="circle" aria-hidden="true">
                        <span class="icon arrow"></span>
                    </span>
          <span class="button-text">Learn more</span>
        </button>
      </div>
      <div class="text-center" style="padding-top: 20px;">
        <img src="../../assets/images/RapidStain.png" widht="397px" height="370px" class="DP-img">
      </div>

    </div>
  </div>
</div>
<div class="home-certif">
  <div class="container text-center">
    <div class="HCT1">CE IVD & ISO</div>
    <h2>Certifications</h2>
    <img src="../../assets/images/ce.png">
    <img src="../../assets/images/iso1.png">
    <img src="../../assets/images/iso2.png">
  </div>
</div>
<app-contact-sales></app-contact-sales>
<div class="container about-us">
  <h3>Livo - Transforming Healthcare with Next-Gen Pathology Equipments</h3>

  <p>We make next-generation pathology equipment that offer faster and borderless diagnosis to your patients. Our
    pathology equipment works through point-of-care blood analysis and whole slide imaging that grant access to
    affordable and speedy healthcare
    to address the unmet needs.</p>

  <p>Quality is our priority as we produce premium products that can be easily operated by operators in the
    laboratories.
  </p>

  <h3>Why Livo Pathology Equipment?</h3>

  <p>Our automated pathology equipment is different from traditional equipment used for the analysis of blood tissue
    samples to examine and diagnose disease. We provide versatile and adaptable pathology equipment for your lab's
    needs.
  </p>

  <p>We look at the workplace of pathology doctors, nurses, and technologists and see it get bogged down by yesterday's
    technology when they need to diagnose cancer, dementia, diabetes and various other diseases as quickly and
    accurately as possible. Our
    primary focus is to constantly explore innovative ways to improve workflow in diagnostics labs.</p>

  <p>We designed pathology equipment around an imaging platform with integrated data systems providing fast,
    image-guided diagnosis to aid in the critical care of patients.</p>

  <p>Some of our pathology equipment that brings healthcare innovation to get more accurate results and affordable
    healthcare are:</p>

  <h3><a href="A700">A700</a></h3>

  <p>The Livo A700 performs monolayer identification, cell identification, classification and differential counting with
    precision, relieving you of the most laborious part of blood smear analysis.</p>

  <h3><a href="A1000">A1000</a></h3>

  <p>The Whole Slide Scanner Livo A1000 scans the processed slides in seconds, then uploads high-quality, digital images
    of them to the Livo digital pathology platform and sends them out for expert analysis.</p>
  <h3><a href="rapid-stain">Hematology Rapid Stain</a></h3>
  <p>This stain will give multiple colors and differential hues of the same color to different cellular components
    resulting in a clear contrasting field of view to make the cell differentials task easier. It gives you results in
    60 secs, which is 10 times
    quicker than any other stain</p>
</div>
