<!-- Page sticky Header starts-->
<div id="product-dropdown" class="product-dropdown sticky-top">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-md-4 PD-name">
        <span class="d-none d-sm-block text-blue font-tiempose"
          >Livo Hematology Rapid Stain</span
        >
        <!-- mobile dropdown options -->
        <div class="dropdown d-block d-sm-none">
          <button
            class="btn dropdown-toggle PD-drop"
            type="button"
            id="dropdownMenuButton"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            Livo Hematology Rapid Stain
          </button>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a
            target="blank"
              href="../../assets/docs/Rapid-Stain-Brochure.pdf"
              class="dropdown-item PD-link2 active"
              >Product brochure <i class="far fa-arrow-alt-circle-down"></i
            ></a>
            <a
              target="blank"
              href="../../assets/docs/Rapid-Statin-Certificate.pdf"
              class="dropdown-item PD-link2"
              >Certificate of Analysis<i
                class="far fa-arrow-alt-circle-down"
              ></i
            ></a>
            <a
              target="blank"
              href="../../assets/docs/Rapid-Stain-MSDS.pdf"
              class="dropdown-item PD-link2"
              >MSDS<i class="far fa-arrow-alt-circle-down"></i
            ></a>

          </div>
        </div>
        <!-- ends -->
      </div>

      <div class="mobile-sales-position contact-btn-display">
        <button
          id="contact-test1"
          class="d-none contact-1"
          [routerLink]="['/myaccount']"
        >
          CONTACT SALES
        </button>
      </div>

      <div class="col-6 col-md-8 text-right d-none d-sm-block">
        <a href="../../assets/docs/Rapid-Stain-Brochure.pdf"
        target="blank"
        class="PD-link2 active"
        >Product brochure <i class="far fa-arrow-alt-circle-down"></i
      ></a>
        <a
          target="blank"
          href="../../assets/docs/Rapid-Statin-Certificate.pdf"
          class="PD-link2"
          >Certificate of Analysis <i class="far fa-arrow-alt-circle-down"></i
        ></a>
        <a
          target="blank"
          href="../../assets/docs/Rapid-Stain-MSDS.pdf"
          class="PD-link2 mr-0"
          >MSDS <i class="far fa-arrow-alt-circle-down"></i
        ></a>

        <button
          id="contact-test"
          class="d-none contact-1"
          [routerLink]="['/myaccount']"
        >
          CONTACT SALES
        </button>
        <!--<a href="rapid-stain#Benefits" class="PD-link2">Properties</a>-->
        <!-- <a target="blank" href="{{ requestForm }}" class="btn buybtn PD-link2">Request Free Sample</a> -->
      </div>
      <!-- <div class="col-12 col-md-8 text-md-right d-block d-sm-none">
                <a target="blank" href="{requestForm}}" class="btn buybtn PD-link2">Request Free Sample</a>
            </div> -->
    </div>
  </div>
</div>
<!-- Page sticky Header ends-->

<div class="RapidStain-page livo-page">
  <!-- banner section starts -->
  <div class="banner-container livo-video-content">
    <div class="container">
      <div class="row BMHeight">
        <div class="col-lg-7">
          <div class="APT1 animated-s livo-opacity-0 fadeInUp">
            Livo Hematology Rapid Stain
          </div>
          <h2 class="animated-s livo-opacity-0 fadeInUp font-lato">
            HIGH QUALITY BLOOD SMEAR STAINING IN 60 SECONDS.
          </h2>
          <h5 class="animated-s livo-opacity-0 fadeInUp">
            Simplifying cell differentials
          </h5>
          <p class="content-text res-w-75">
            The Livo Hematology Rapid Stain has been formulated with a stable
            combination of 8 different high quality dye compounds that gives
            multiple shades and tints of the same hue or colour to different
            cellular components resulting in a clear contrasting field of view
            to make the cell differentials task easier.
          </p>
          <!-- <div *ngIf="product?.price">
                    <div class="price mb-3">
                        Rs. {{ product.price }} <span>( Excl. GST )</span>
                    </div>
                    <form [formGroup]="addToCartForm" (ngSubmit)="addToCart()">
                        <div class="Volume mb-3">
                            Volume
                            <span class="button-group">
                                <input type="radio" [formControl]="addToCartForm.controls.volume" id="volume-250ml"
                                    value="250ml" name="volume" />
                                <label for="volume-250ml" class="btn btn-sm active volumeInput"
                                    (click)="changeVolume($event)">250ml</label>
                                <input type="radio" [formControl]="addToCartForm.controls.volume" id="volume-500ml"
                                    value="500ml" name="volume" />
                                <label for="volume-500ml" class="btn btn-sm volumeInput"
                                    (click)="changeVolume($event)">500ml</label>
                            </span>
                        </div>
                        <div class="Quantity mb-3">
                            <div class="pb-2">Choose Quantity</div>

                            <span class="input-number-decrement" (click)="decreamentQuantity()">–</span>
                            <input class="input-number" [formControl]="addToCartForm.controls.quantity" type="text"
                                value="addToCartForm.controls.quantity.value" min="1" max="50" pattern="[0-9]+"
                                title="Quantity should be numeric" />
                            <span class="input-number-increment" (click)="increamentQuantity()">+</span>
                        </div>
                        <input class="addtocart mr-2" type="submit" *ngIf="product.price != 0" value="Add to Cart" />
                        <input class="viewcart" type="button" (click)="viewCartItems()" *ngIf="isItemsInCart"
                            value="View Cart" />
                    </form>
                </div> -->
        </div>
        <div class="col-lg-5 text-center animated-m livo-opacity-0 fadeInUp">
          <div class="product-image">
            <img src="../assets/images/RapidStain.png" />
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- banner section ends -->

  <!-- Staining result -->
  <div class="banner-container">
    <div class="container">
      <p class="livo-headline pb-1">Staining results</p>
      <div class="row mt-4 w-100 mx-auto">
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T1.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Neutrophil</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T2.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Lymphocyte</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T3.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Monocyte</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T4.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Eosinophil</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T5.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Basophil</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T6.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Bandcell</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T7.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Blast</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T8.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Lymphocyte</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T9.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Monocyte</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T10.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Eosinophil</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T11.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Basophil</p>
        </div>
        <div class="col-md-2 text-center px-1">
          <img
            src="assets/images/rapid-stain-imgs/img/WBC-T12.png"
            class="rapid-wbc-images"
          />
          <p class="content-text py-2">Bandcell</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Staining result ends -->

  <!-- Analysis note table -->
  <div class="container section-padding">
    <p class="livo-headline pb-1">Analysis Note Table</p>
    <table class="analysis-table">
      <tbody>
        <tr>
          <td>Suitability For Blood Smear Microscopy</td>
          <td>Passes test</td>
        </tr>
        <tr>
          <td>Erythrocytes</td>
          <td>Pink to brownish</td>
        </tr>
        <tr>
          <td>Nuclei</td>
          <td>Red-violet</td>
        </tr>
        <tr>
          <td>Eosinophilic Granules</td>
          <td>Red to red-brown</td>
        </tr>
        <tr>
          <td>Neutrophilic Granules</td>
          <td>Pink to light violet</td>
        </tr>
        <tr>
          <td>Basophilic Granules</td>
          <td>Blue</td>
        </tr>
        <tr>
          <td>Lymphocyte Cytoplasm</td>
          <td>Blue</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Analysis table ends -->

  <!-- Hemotology property table -->
  <div class="container section-padding pt-3">
    <div class="rapidstain-bottleimg-div">
      <img src="assets/images/rapid-stain-imgs/img/RapidStain-1.png" />
    </div>
    <p class="livo-headline text-center res-w-75 m-auto pb-5">
      The hematology rapid stain by Livo simplifies blood cell differentials
      with 60 seconds staining time.
    </p>

    <p class="livo-headline pb-1">Properties</p>
    <table class="analysis-table">
      <tbody>
        <tr>
          <td>Storage conditions</td>
          <td>Store at -15ºC to +25ºC</td>
        </tr>
        <tr>
          <td>Form</td>
          <td>Liquid</td>
        </tr>
        <tr>
          <td>IVD</td>
          <td>For Invitro diagonistic use</td>
        </tr>
        <tr>
          <td>Application</td>
          <td>Hematology</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!--Hemotology property table ends -->

  <!-- certificate of origin -->

  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5">
        <p class="livo-headline pb-1">Certificate of Analysis & Origin</p>
        <div class="search-form">
          <p class="content-text">Lot Number</p>
          <div>
            <input class="input" placeholder="e.g 023JER23" />
            <button class="search-btn ml-1">
              <i class="fas fa-search"></i>
            </button>
          </div>
          <a class="content-text text-orange pt-2 d-block"
            >How to enter Lot Number(COA)</a
          >
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5 mb-5 border-left-seprator">
        <p class="livo-headline pb-1">More Documents</p>
        <p class="download-brochure-text w-fit mb-3 ml-0">
          Certificate Of Analysis
          <img src="assets/images/a700/Group 95.png" class="ml-2" />
        </p>
        <p class="download-brochure-text w-fit mb-3 ml-0">
          Bulk Quote-Order Product
          <img src="assets/images/a700/Group 95.png" class="ml-2" />
        </p>
        <p class="download-brochure-text w-fit mb-3 ml-0">
          Material Safety Data Sheet
          <img src="assets/images/a700/Group 95.png" class="ml-2" />
        </p>
        <p class="download-brochure-text w-fit mb-3 ml-0">
          Instructions Of Use
          <img src="assets/images/a700/Group 95.png" class="ml-2" />
        </p>
      </div>
      <div class="col-md-12 mb-5">
        <p class="livo-headline pb-1">Additional Information</p>
        <div class="d-flex">
          <p class="content-text w-25 mb-0">HS Code</p>
          <p class="content-text mb-0">3212 90 90</p>
        </div>
        <div class="d-flex">
          <p class="content-text w-25 mb-0">Application</p>
          <p class="content-text mb-0">
            For use in hematology and clinical cytology
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- certificate of origin ends -->

  <!-- Safety information starts-->

  <div class="container">
    <p class="livo-headline pb-1 pt-5">Safety Information according to GHS</p>

    <div class="row w-100 m-auto">
      <div class="col-md-6 px-0 mb-5">
        <div class="d-flex align-items-center">
          <p class="content-text w-25 mb-0">Hazard Pictogram(s)</p>
          <img
            src="assets/images/rapid-stain-imgs/img/Group 169.png"
            class="mt-2 ml-2"
          />
        </div>
      </div>
      <div class="col-md-12 px-0 safety-container-border"></div>

      <div class="col-md-12 px-0 mt-3">
        <div class="d-flex w-100">
          <p class="content-text w-25 mb-0">Precautionary Statement(s)</p>
          <div class="w-75">
            <p class="content-text">
              - P210: Keep away from heat/sparks/open flames/hot surfaces. No
              smoking. <br />- P240: Ground/bond container and receiving
              equipment. <br />- P280: Wear protective gloves/ protective
              clothing. <br />- P302 + P352: IF ON SKIN: Wash with plenty of
              soap and water. <br />- P304 + P340: IF INHALED: Remove victim to
              fresh air and keep at rest in a position comfortable for
              breathing. <br />- P308 + P310: IF exposed or concerned:
              immediately call a POISON CENTER or doctor/ physician. <br />-
              P403 + P233: Store in a well-ventilated place. Keep container
              tightly closed.
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-12 px-0 safety-container-border mt-3 mb-2"></div>
    </div>

    <div class="col-md-12 px-0 mt-3">
      <div class="d-flex w-100">
        <p class="content-text w-25 mb-0">Signal Word</p>
        <div class="w-75">
          <p class="content-text">Danger</p>
        </div>
      </div>
    </div>
    <div class="col-md-12 px-0 safety-container-border mt-3 mb-2"></div>

    <div class="col-md-12 px-0 mt-3 mb-5">
      <div class="d-flex w-100">
        <p class="content-text w-25 mb-0">Storage Class</p>
        <div class="w-75">
          <p class="content-text">Flammable Liquid</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Safety information ends-->

  <!-- our customers -->
  <div class="container section-padding">
    <p class="livo-headline pb-0 mb-2 text-center">Our Customers</p>
    <p class="livo-capitalizetext mt-0 text-center">
      WORKING WITH THE BEST GLOBALY
    </p>
    <div class="customers-logo-div">
      <img src="assets/images/rapid-stain-imgs/img/elbit.png" />
      <img src="assets/images/rapid-stain-imgs/img/srisriholistic.png" />
      <img src="assets/images/rapid-stain-imgs/img/Page-1.png" />
      <img src="assets/images/rapid-stain-imgs/img/zoi.png" />
    </div>
    <div class="customers-logo-div2">
      <img src="assets/images/rapid-stain-imgs/img/Page-2.png" />
      <img src="assets/images/rapid-stain-imgs/img/shreekrishna.png" />
      <img src="assets/images/rapid-stain-imgs/img/Page-3.png" />
      <img src="assets/images/rapid-stain-imgs/img/Page-4.png" />
      <img src="assets/images/rapid-stain-imgs/img/Page-5.png" />
    </div>
  </div>
  <!-- our customers ends -->

  <!-- customer review slider -->
  <div class="container section-padding slider-bg-container mt-5">
    <div
      id="carouselExampleIndicators"
      class="carousel slide"
      data-ride="carousel"
    >
      <ol class="carousel-indicators carousel-indicators-custom">
        <li
          data-target="#carouselExampleIndicators"
          data-slide-to="0"
          class="active"
        ></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="customer-review-slider">
            <p class="content-text content-color">
              Lorem ipsum is a typography word used for ispum lorem dolor set
              and lorem ispum asgain for lorem ipsum and dolor
            </p>
            <p class="livo-headline pb-0 mb-2 mt-4 text-center">Johnson Doe</p>
            <p class="livo-capitalizetext mt-0 text-center">ACME INC</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="customer-review-slider">
            <p class="content-text content-color">
              Lorem ipsum is a typography word used for ispum lorem dolor set
              and lorem ispum asgain for lorem ipsum and dolor
            </p>
            <p class="livo-headline pb-0 mb-2 mt-4 text-center">Johnson Doe</p>
            <p class="livo-capitalizetext mt-0 text-center">ACME INC</p>
          </div>
        </div>
        <div class="carousel-item">
          <div class="customer-review-slider">
            <p class="content-text content-color">
              Lorem ipsum is a typography word used for ispum lorem dolor set
              and lorem ispum asgain for lorem ipsum and dolor
            </p>
            <p class="livo-headline pb-0 mb-2 mt-4 text-center">Johnson Doe</p>
            <p class="livo-capitalizetext mt-0 text-center">ACME INC</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- customer review slider ends -->
</div>
<app-contact-sales></app-contact-sales>
