<div class="Roadmap">
    <div class="R-banner">
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <h2>Roadmap</h2>
                <div class="RT1">Livo aspires to become a leader in AI-powered medical diagnostics. With the use of AI
                    and machine learning, we have been able to build groundbreaking solutions to some of the most
                    entrenched challenges encountered at the point-of-care.
                </div>
                <ul class="timeline timeline-split">
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <div>April</div>
                            <span>2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Livo <span>A700</span>, the reagentless AI-powered <br>blood and
                                Pap smear analyser</h3>
                            <ul>
                                <li>Blood cell morphology analysis with AI</li>
                                <li>Blood and Pap smear reporting by remote pathologists</li>
                                <li>No reagent costs</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <div>August</div>
                            <span>2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">The Livo Pathology Whole<br>Slide Scanner <span>A1000</span></h3>
                            <ul>
                                <li>Digitise slides for easy sharing</li>
                            </ul>
                            <h3 class="timeline-title">Livo Autosmearer</h3>
                            <ul>
                                <li>Perfect smear in seconds</li>
                            </ul>
                            <h3 class="timeline-title">Livo HemaStainer</h3>
                            <ul>
                                <li>Textbook-quality staining</li>
                            </ul>
                        </div>
                    </li>

                    <li class="timeline-item">
                        <div class="timeline-info">
                            <div>December</div>
                            <span>2020</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Automated Pap smear analysis<br>with the
                                <span>A700</span> and
                                <span>A1000</span>
                            </h3>
                            <ul>
                                <li> Automated Pap smear screening in <br>minutes for early cancer detection</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <div>April</div>
                            <span>2021</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Breast cancer analysis with<br>the
                                <span>A1000</span></h3>
                            <ul>
                                <li> Automated breast cancer screening in <br> minutes for early cancer detection</li>
                            </ul>
                        </div>
                    </li>
                    <li class="timeline-item">
                        <div class="timeline-info">
                            <div>August</div>
                            <span>2021</span>
                        </div>
                        <div class="timeline-marker"></div>
                        <div class="timeline-content">
                            <h3 class="timeline-title">Automated lung cancer analysis<br>with the <span>A1000</span>
                            </h3>
                            <ul>
                                <li> Automated lung Cancer screening in <br> minutes for early cancer detection</li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <p>Applying the latest advances in artificial intelligence, robotics and IoT,we seek to expand the reach of medical diagnostics and create products that offer practical, affordable solutions to “wicked problems” that significantly reduce human effort.</p>
                <p>
                    At Livo, everyone understands this vision and our team of experts are continuously working to ensure that we are at the forefront of healthcare innovation and our products are best-in-class in the market.
                </p>
                <p>
                    For us, there are no boundaries and endless possibilities.</p>
            </div>
        </div>
        <div class="R-content1">
            <div class="row justify-content-end">
                <div class="col-md-6">
                    <h3>Partner with us now!</h3>
                    <a href="#" class="link">Get Started <i class="fas fa-arrow-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
