<div class="container">
    <div style="margin: 20px">
        <table>
            <tr>
                <td><u><strong>E-CONTRACT</strong></u></td>&nbsp;&nbsp;
            </tr>
        </table><br>
        <p dir="ltr"> This Agreement is published in compliance with, and is governed by the provisions of Indian law,
            including but limited to: </p>
        <ul>
            <li dir="ltr">
                <p dir="ltr"> the Indian Contract Act, 1872, </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> the (Indian) Information Technology Act, 2000, and </p>
            </li>
        </ul>
        <p dir="ltr"> the rules, regulations, guidelines and clarifications framed thereunder, including the (Indian)
            Information Technology (Reasonable Security Practices and Products and Sensitive Personal Data or
            Information) Rules, 2011 (the "SPDI Rules"), and the (Indian) Information Technology (Intermediaries
            Guidelines) Rules, 2011. </p>
        <p dir="ltr"> This agreement is between Radoratory Technologies Private Limited (<a
                href="https://www.livo.ai">Livo</a>) with its registered address at # 1st floor, Livo - Radoratory Technologies Pvt Ltd, 6-3-597/1/C, Venkata Ramana Colony, Khairatabad, Hyderabad, Telangana, India, hereinafter referred to as “Platform Provider”)
            and <strong></strong>, hereinafter referred to as “DIGITAL PATHOLOGY”. </p>
        <p dir="ltr"> The company or entity above intends to utilize the platform (<a
                href="https://www.livo.ai">Livo</a>) provided by the Platform Provider by registering as
            an “DIGITAL PATHOLOGY” herein. BY REGISTERING AS AN “IMAGING CENTRE” ON THE ONLINE PLATFORM (<a
                href="https://www.livo.ai">Livo</a>), YOU INDICATE YOUR AGREEMENT TO ALL THE TERMS AND
            CONDITIONS SET FORTH HERIN. </p>
        <p dir="ltr"> The Platform Provider and <strong></strong> herein agree that this agreement is an e-contract as
            per Section 10 A of the Information Technology Amended Act 2008. </p>
        <p dir="ltr"> NOW, THEREFORE, for consideration and as set forth herein, the parties hereto agree as follows:
        </p>
        <p dir="ltr"> (herein after referred to, individually as the” Party” and collectively, as the “Parties”) </p>
        <p dir="ltr"> BACKGROUND </p>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> WHEREAS, the Platform Provider has developed an online platform (<a
                        href="https://www.livo.ai">Livo</a>) connecting the DIGITAL PATHOLOGY with
                    Pathologists (“Consultants”) so as to enable Pathologists to receive reports immediately for the
                    blood smear etc. uploaded by DIGITAL PATHOLOGY through the online platform (<a
                        href="https://www.livo.ai">Livo</a>). </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> WHEREAS, the DIGITAL PATHOLOGY is a place that offers Pathology IMAGING services including
                    Blood smear, Pap smear, Histopathology, Bone marrow related services</p>
            </li>
            <!--<li dir="ltr">
                <p dir="ltr"> WHEREAS, the Platform Provider intends to enable the DIGITAL PATHOLOGY to access and register
                    on the online platform (<a href="https://www.livo.ai">Livo</a>) for the purpose of
                    enabling the DIGITAL PATHOLOGY to avail the reports for their patients immediately (within SLA of 1
                    hour) resulting in saving cost and time. However, the Platform Provider ensures meeting all SLAs
                    with 95% accuracy. An SLA of 90 minutes will be considered for complicated cases. Complicated cases
                    unless otherwise stated include CT/MRI of Pelvis and Abdomen. </p>
            </li>-->
            <li dir="ltr">
                <p dir="ltr"> WHEREAS, the DIGITAL PATHOLOGY intends to register on the online platform (<a
                        href="https://www.livo.ai">Livo</a>) for getting reports of various scans,
                    x-rays, magnetic resonance imaging (MRI), computed tomography (CT) etc. from qualified Pathologists
                    (“Consultants”) made available through and registered on the online platform (<a
                        href="https://www.livo.ai">Livo</a>) </p>
            </li>
        </ol>
        <p dir="ltr"> In consideration of the mutual covenants contained herein, and for other good and valuable
            consideration, the receipt and sufficiency of which is hereby acknowledged, the parties hereby agree as
            follows </p><strong>
            <ol>
                <li dir="ltr">
                    <p dir="ltr"> INTERPRETATION </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> Clause, schedule and paragraph headings shall not affect the interpretation of this
                    agreement </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> A person includes an individual, (whether or not having separate legal personality) [and
                    that person’s legal and personal representatives, successors or permitted assigns]. </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Words in the singular shall include the plural and vice versa </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> A reference to one gender shall include a reference to the other genders </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> A reference to a statute or statutory provision is a reference to it as it is in force for
                    the time being, taking account of any amendment, extension, or re-enactment and includes any
                    subordinate legislation for the time being in force made under it </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> A reference to writing or written includes e-mail </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> References to clauses and schedules are to the clauses and schedules of this agreement;
                    references to paragraphs are to paragraphs of the relevant schedule to this agreement </p>
            </li>
        </ol><br><strong>
            <ol start="2">
                <li dir="ltr">
                    <p dir="ltr"> INDEPENDENT CONTRACTOR RELATIONSHIP </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY is and shall remain an independent contractor in its relationship to
                    the Platform Provider </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall have no claim against the Platform Provider hereunder or
                    otherwise for vacation pay, sick leave or employee benefits of any kind </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall have no authority to enter into any arrangement, agreement, make
                    no express, implied warranty, representation on behalf of the Platform Provider </p>
            </li>
        </ol><br><strong>
            <ol start="3">
                <li dir="ltr">
                    <p dir="ltr"> PLATFORM </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider has developed an online platform by way of a website
                    (www.livo.ai) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider herein intends to make available such online platform
                    (www.livo.ai) to the DIGITAL PATHOLOGY for the purpose as mentioned herein </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> It is herein agreed that the online platform (www.livo.ai) shall feature various
                    DIGITAL PATHOLOGY and third parties including Pathologists (“Consultants”) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The online platform (<a href="https://www.livo.ai">Livo</a>) shall collect
                    scan reports from various DIGITAL PATHOLOGY and make the same available to the Pathologists
                    (“Consultants”) for their interpretation and expertise skill set </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the online platform (<a href="https://www.livo.ai">Livo</a>)
                    shall enable the DIGITAL PATHOLOGY to receive the reports immediately (within SLA of 1 hour) from
                    various Pathologists (“Consultants”) registered thereof. However, the Platform Provider shall
                    provide services on best efforts basis and guarantees an uptime of 99.5%. An SLA of 90 minutes will
                    be considered for complicated cases. Complicated cases unless otherwise stated include CT/MRI of
                    Pelvis and Abdomen. </p>
            </li>
        </ol><br><strong>
            <ol start="4">
                <li dir="ltr">
                    <p dir="ltr"> SERVICES </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider by way of the online platform (<a
                        href="https://www.livo.ai">Livo</a>) offers the following services to the IMAGING
                    CENTRE </p>
            </li>
        </ol><br>
        <ul>
            <li dir="ltr">
                <p dir="ltr"> The online platform (<a href="https://www.livo.ai">Livo</a>) shall enable
                    the DIGITAL PATHOLOGY to monitor their Radiology systems, upload scans, store scan images, get the
                    reports analysed by qualified Pathologists (“Consultants”) registered thereof </p>
            </li>
        </ul><br><strong>
            <ol start="5">
                <li dir="ltr">
                    <p dir="ltr"> ROLES, RESPONSIBILITIES OF PLATFORM PROVIDER </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall be responsible for maintaining the online platform (<a
                        href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the Platform Provider shall be responsible for resolving any technical issues and
                    any issues relating to the online platform (<a href="https://www.livo.ai">Livo</a>)
                </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall also be responsible for keeping the online platform (<a
                        href="https://www.livo.ai">Livo</a>) up and running. However, the Platform
                    Provider shall provide services on best efforts basis and guarantees an uptime of 99.5%. </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall store the scan reports and details in the Cloud </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall make the reports available for a minimum period of two (2)
                    years. However, the storage of images beyond the first 3 months shall be chargeable. </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall maintain and adopt reasonable security practices for
                    safeguarding the personal details of the DIGITAL PATHOLOGY and Patients </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall conform and adhere to the healthcare standards in India </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall collect payments from DIGITAL PATHOLOGY on behalf of the
                    Pathologists (“Consultants”) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall in no event resolve, mediate any disputes, issues,
                    discrepancies etc. arising in whatsoever manner between the DIGITAL PATHOLOGY and Pathologists
                    (“Consultants”). </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall revoke/suspend services to any DIGITAL PATHOLOGY in case of
                    misrepresentation of any information is found or any malpractices observed, or non-payment of dues
                    at the stipulated time </p>
            </li>
        </ol><br><br><strong>
            <ol start="6">
                <li dir="ltr">
                    <p dir="ltr"> ROLES, RESPONSIBILITIES OF DIGITAL PATHOLOGY </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be responsible for providing correct and accurate information
                    while registering on the online platform (<a href="https://www.livo.ai">Livo</a>)
                </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be responsible for making payments regularly for the scans
                    uploaded by them on the online platform (<a href="https://www.livo.ai">Livo</a>) so
                    as to enable the Platform Provider to make corresponding payments to the respective Pathologists
                    (“Consultants”) and ensure uninterrupted and reliable services thereof </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be required to ensure that there is uninterrupted power supply to
                    the systems on which the Platform Provider shall install their PACS server and also ensure
                    uninterrupted internet connectivity with a minimum speed of 16 Mbps. (However, 100 Mbps shall be
                    recommended) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be responsible for performing their obligations, roles,
                    responsibilities in a professional workman like manner </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be responsible for maintaining complete confidentiality with
                    regard to the reports and scans and personal data, sensitive personal information of the Patients
                </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be responsible for uploading the reports and scans only for the
                    purpose of getting such reports interpreted by qualified Pathologists (“Consultants”) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the DIGITAL PATHOLOGY shall be responsible for complying with all the data
                    protection laws while uploading scans of the patients </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY herein acknowledges and agrees that the online platform (<a
                        href="https://www.livo.ai">Livo</a>) features various Pathologists
                    (“Consultants”) and facilitates interpretation of the scans uploaded thereof by such Pathologists
                    (“Consultants”). Further, the DIGITAL PATHOLOGY herein acknowledges that such Pathologists
                    (“Consultants”) are independent professionals and the Platform Provider merely facilitates the
                    interaction between the DIGITAL PATHOLOGY and Pathologists (“Consultants”) through the online platform
                    (<a href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be responsible in full and complete for any and all scans
                    uploaded by them through the online platform (<a href="https://www.livo.ai">Livo</a>
                   ) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be responsible for making payment to the Platform Provider in
                    consideration of interpretation of the scans (uploaded by them on the online platform (<a
                        href="https://www.livo.ai">Livo</a>) by the Pathologists (“Consultants”) made
                    available on the online platform (<a href="https://www.livo.ai">Livo</a>) </p>
            </li>
        </ol><br><strong>
            <ol start="7">
                <li dir="ltr">
                    <p dir="ltr"> INTELLECTUAL PROPERTY </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> The term “Intellectual Property” shall mean and include any and all intellectual property
                    by way of Copyright, Trademarks, Patents, Trade Secrets, Logo, Service Marks, Mascots whether
                    registered or unregistered including any intellectual property relating to the online platform (<a
                        href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall be sole and exclusive owner of any and all such Intellectual
                    Property </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY herein acknowledges and agrees that the Platform Provider is the sole
                    and exclusive of all the Intellectual Property relating to the online platform (www.livo.ai)
                </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall have no authority to enter into any arrangement, agreement, make
                    no express, implied warranty, representation on behalf of the Platform Provider </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Intellectual Property arising out of any scans and reports shall be solely and
                    exclusively owned by the respective patient </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> In no event shall the Platform Provider nor the DIGITAL PATHOLOGY have any intention to
                    acquire in whatsoever manner the Intellectual Property belonging to the patients </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> However, the such scans and reports of the Patients shall be merely made available or
                    displayed on the online platform (<a href="https://www.livo.ai">Livo</a>) </p>
            </li>
        </ol><br><strong>
            <ol start="8">
                <li dir="ltr">
                    <p dir="ltr"> TERMS OF ONLINE PLATFORM (<a href="https://www.livo.ai">Livo</a>) </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> It is herein agreed that the online platform (<a
                        href="https://www.livo.ai">Livo</a>) shall enable the DIGITAL PATHOLOGY to create
                    their profile page wherein the Name and Logo of the DIGITAL PATHOLOGY along with other details shall be
                    required to be uploaded by the DIGITAL PATHOLOGY </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the name and logo of the DIGITAL PATHOLOGY shall be clearly visible on the Scan
                    Analysis reports created by the Pathologists (“Consultants”) for the patients of the DIGITAL PATHOLOGY
                </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> However, the same report shall be sent to the DIGITAL PATHOLOGY as well as to the referring
                    doctors </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall provide a self-sign up form on the online platform (<a
                        href="https://www.livo.ai">Livo</a>) for enabling the DIGITAL PATHOLOGY to register
                    on the online platform (<a href="https://www.livo.ai">Livo</a>) by choosing a
                    username and password and an admin user shall be created for the DIGITAL PATHOLOGY </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Such admin user shall be able to create multiple users for the DIGITAL PATHOLOGY </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be required to fill and complete the sign-up form made available
                    on the online platform (<a href="https://www.livo.ai">Livo</a>) in order to register
                    on the online platform (<a href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider and their team shall reach out to the DIGITAL PATHOLOGY to enable them
                    to complete the onboarding process and provide necessary approvals </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the technical team of the Platform Provider shall visit the DIGITAL PATHOLOGY and
                    install their PACS server and configure all their Imaging Machines to enable them to start using the
                    online platform (<a href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall not use misuse the online platform (<a
                        href="https://www.livo.ai">Livo</a>) provided by the Platform Provider and shall
                    adhere to the terms including but not limited to </p>
            </li>
            <ol>
                <li dir="ltr">
                    <p dir="ltr"> The DIGITAL PATHOLOGY shall not use the Platform to </p>
                </li>
                <ol>
                    <li dir="ltr">
                        <p dir="ltr"> Harass or advocate harassment of any person; </p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"> promote illegal activities or conduct that is abusive, threatening, obscene,
                            defamatory or libellous; <br> infringing upon or violating any third party's rights
                            [including, but not limited to, intellectual property rights, rights of privacy (including
                            without limitation unauthorized disclosure of a person's name, email address, physical
                            address or phone number) or rights of publicity]; </p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"> transmit "junk mail”, "chain letters”, or unsolicited mass mailing or "spamming";
                        </p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"> promote any illegal or unauthorized copy of any person's copyrighted work, such as
                            providing pirated computer programs or links to them </p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"> provide material that exploits people in a sexual, violent or otherwise
                            inappropriate manner </p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"> gain unauthorized access or exceed the scope of authorized access to the online
                            platform (<a href="https://www.livo.ai">Livo</a>), or other areas of the
                            Website or solicits passwords or personal identifying information for commercial or unlawful
                            purposes from any person, entity, organisation </p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"> violate any law for the time being in force; </p>
                    </li>
                    <li dir="ltr">
                        <p dir="ltr"> solicit or perform any illegal activity or activity which infringes the rights of
                            Platform Provider and/or Patient, DIGITAL PATHOLOGY , Hospitals and third parties </p>
                    </li>
                </ol>
            </ol>
            <p dir="ltr"><strong>
                    <li dir="ltr"> The DIGITAL PATHOLOGY shall be able to do the following acts upon logging into their
                        account using the online platform (<a href="https://www.livo.ai">Livo</a>) </li>
                </strong></p>
        </ol><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> Upload scans for getting the same analysed by Pathologists (“Consultants”) made available
                    through the online platform (<a href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be provided with one Superuser account and such Superuser shall
                    be able to create as many users as they require for managing their account and activities. Further,
                    each type of user shall be provided with different access levels </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> View their revenues </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> View detailed revenue reports in various formats (Radiology only) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> View details of machines connected to the online platform (<a
                        href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall upload the following types of data on the online platform (<a
                        href="https://www.livo.ai">Livo</a>) using their login </p>
            </li>
        </ol><br>
        <ul>
            <li dir="ltr">
                <p dir="ltr"> MRI Scans </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> CT Scans </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> X-Rays </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Mammograms </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> PET Scans </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Any Other Radiology Scans </p>
            </li>
        </ul><br><strong>
            <ol start="9">
                <li dir="ltr">
                    <p dir="ltr"> INFORMATION COLLECTED FROM DIGITAL PATHOLOGY </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall collect the following Personal Information from the IMAGING
                    CENTRE </p>
            </li>
        </ol><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> Name of the DIGITAL PATHOLOGY </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Address </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Contact Details </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Email id </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Payment details – including preferred modes of payment </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Additional Payment Formalities – if any – depending on the mode of payment opted,
                    specifically NACH </p>
            </li>
        </ol><br>
        <ol start="2">
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY herein undertakes that all the Personal Information provided herein to
                    the Platform Provider on the online platform (<a href="https://www.livo.ai">Livo</a>
                   ) is true to the best of their knowledge </p>
            </li>
        </ol><br><strong>
            <ol start="10">
                <li dir="ltr">
                    <p dir="ltr"> LIABILITY </p>
                </li>
            </ol>
        </strong><br>
        <p dir="ltr"> PLATFORM PROVIDER- LIABILITY </p>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall be liable for maintaining the online platform (<a
                        href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall make best efforts that all scans successfully uploaded by
                    DIGITAL PATHOLOGY are interpreted by the Pathologists (“Consultants”) and reports are made available
                    within an SLA of one (1) hour. The Platform Provider ensures meeting all SLAs with 95% accuracy.
                    However, exceptions shall be applicable for the scans uploaded during the odd hours of the day
                    specifically between 9 pm to 8 am </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall adopt and have in place reasonable security practices and
                    procedures for safeguarding and protecting the personal details arising out the scans uploaded by
                    the DIGITAL PATHOLOGY . However, the Platform Provider shall hold no liability for the acts, actions,
                    activities, commissions, omissions beyond its control </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> In no event shall the Platform Provider or the online platform (<a
                        href="https://www.livo.ai">Livo</a>) hold any liability in whatsoever manner in
                    case correct information is not provided by the DIGITAL PATHOLOGY while signing up on the online
                    platform (<a href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall hold no liability in whatsoever manner for any acts, actions,
                    activities, misrepresentation, misinterpretation, fraud, negligence, commissions, omissions of the
                    Pathologists (“Consultants”) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the Platform Provider shall in no event be liable to negotiate, mediate, resolve
                    any issues, discrepancies, errors, claims, disputes arising between the DIGITAL PATHOLOGY, patients and
                    Pathologists (“Consultants”). </p>
            </li>
        </ol><br>
        <p dir="ltr"> DIGITAL PATHOLOGY - LIABILITY </p>
        <ol start="7">
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be liable for providing accurate and correct information
                    including Personal Data, Bank details while signing up and registering on the online platform (<a
                        href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be liable for any and all scans uploaded them on the online
                    platform (<a href="https://www.livo.ai">Livo</a>)either automatically uploaded or
                    manually uploaded </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be liable for ensuring that power is made available to the system
                    in which Platform Provider’s PACS are installed, at all times </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> In addition, the DIGITAL PATHOLOGY shall be liable for ensuring that adequate internet
                    bandwidth of at least 10 Mbps (However, 100 Mbps is recommended for a primary connection) is
                    available. Further, any deviation to the above shall result in loss of time while interpreting the
                    scans and shall result in loss of business to the DIGITAL PATHOLOGY . However, the Platform Provider (
                    <a href="https://www.livo.ai">Livo</a>) shall hold no liability, responsibility in
                    whatsoever manner in this regard </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY shall be liable in full and complete for making payment to the Platform
                    Provider the amount due for the current day by the end of same day or at most by next day morning to
                    avoid any legal actions thereof </p>
            </li>
        </ol><br>
        <p dir="ltr"> Pathologists (“Consultants”) - LIABILITY </p><br>
        <ol start="12">
            <li dir="ltr">
                <p dir="ltr"> The Pathologists (“Consultants”) shall be liable for any misinterpretations, negligence,
                    commissions, omissions etc. arising out of the scans and reports interpreted by them. However, in no
                    event shall the Platform Provider (<a href="https://www.livo.ai">Livo</a>) be liable
                    for any of such events </p>
            </li>
        </ol><br><strong>
            <ol start="11">
                <li dir="ltr">
                    <p dir="ltr"> DAMAGES / PENALTY </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> The Pathologists (“Consultants”) shall be solely liable and responsible for any damages,
                    penalties arising out of the scans and reports interpreted by them </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the Pathologists (“Consultants”) shall be liable to pay the damages, costs etc.
                    incurred by the Platform Provider, DIGITAL PATHOLOGY as a result of the any misinterpretation,
                    negligence, fraud, commissions, omissions arising out of their acts, interpretation etc. </p>
            </li>
        </ol><br><strong>
            <ol start="12">
                <li dir="ltr">
                    <p dir="ltr"> REPRESENTATION &amp; WARRANTY </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> Both the Parties herein represent and warrant that they have the authority as per law to
                    enter into and execute this agreement. </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the DIGITAL PATHOLOGY herein represents and warrants to the Platform Provider that
                    it has requisite permissions and proper authorised license to operate its business </p>
            </li>
        </ol><br><strong>
            <ol start="13">
                <li dir="ltr">
                    <p dir="ltr"> TERM </p>
                </li>
            </ol>
        </strong><br>
        <p dir="ltr"> This agreement shall be effective from the Effective Date and shall remain in effect until the
            account of the DIGITAL PATHOLOGY on online platform (<a href="https://www.livo.ai">Livo</a>) is
            active. </p><br><strong>
            <ol start="14">
                <li dir="ltr">
                    <p dir="ltr"> TERMINATION </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> IMMEDIATE TERMINATION </p>
            </li>
        </ol><br>
        <p dir="ltr"> This agreement may be terminated with immediate effect in the following events </p><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> In the event of any misrepresentation by the DIGITAL PATHOLOGY with regard to any information
                    including address, contact details, details of available infrastructure, patient/ scans statistics,
                    details of affiliations etc. while signing up and registering on the online platform (<a
                        href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> In the event of any material breach by the DIGITAL PATHOLOGY </p>
            </li>
        </ol><br>
        <ol start="2">
            <li dir="ltr">
                <p dir="ltr"> NOTICE PERIOD </p>
            </li>
        </ol><br>
        <p dir="ltr"> Either Party may terminate this agreement by providing two (2) weeks’ notice to the other party
            through email ids provided herein </p><br>
        <ol start="3">
            <li dir="ltr">
                <p dir="ltr"> CONSEQUENCES OF TERMINATION </p>
            </li>
        </ol><br>
        <p dir="ltr"> In the event of termination of this agreement in whatsoever manner, the following shall be
            applicable </p>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall disable the DIGITAL PATHOLOGY from accessing the online platform
                    (<a href="https://www.livo.ai">Livo</a>) in the event the amount / dues are not
                    cleared within three (3) days from the due date. Further, the Platform Provider shall not permit the
                    DIGITAL PATHOLOGY for a new sign up </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the reports of the scans shall not be processed in case the pending dues are not
                    paid in full and complete. In continuation, the reports of the scans shall also not be processed in
                    case the pending dues exceed the trigger amount which shall vary between 20,000 to 40,000 INR </p>
            </li>
        </ol><br><strong>
            <ol start="15">
                <li dir="ltr">
                    <p dir="ltr"> PAYMENT TERMS </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> It is herein agreed that in consideration of the interpretation of scans (uploaded by the
                    DIGITAL PATHOLOGY on the online platform (<a href="https://www.livo.ai">Livo</a>) by
                    the Pathologists (“Consultants”) made available through the online platform (<a
                        href="">www.livo,com</a>), the DIGITAL PATHOLOGY shall make payment to the Platform Provider and
                    the same shall be transferred by the Platform Provider to the respective Radiologist (“Consultant”)
                </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> However, the payment shall be made only after the reports have been submitted by the
                    Radiologist (“Consultant”) through the online platform (<a
                        href="https://www.livo.ai">Livo</a>) </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The DIGITAL PATHOLOGY herein represents and warrants to make payments in a timely manner to
                    ensure a smooth transaction </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the DIGITAL PATHOLOGY herein acknowledges and agrees that any delay in payments
                    shall affect the entire process and shall result in irreparable loss, damage to the Platform
                    Provider </p>
            </li>
        </ol><br><strong>
            <ol start="16">
                <li dir="ltr">
                    <p dir="ltr"> DATA STORAGE </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> It is herein agreed that the data including scan images, patient details etc. uploaded by
                    the DIGITAL PATHOLOGY on the online platform shall be stored on the cloud storage system of the
                    Platform Provider. However, the storage of images beyond the first 3 months shall be chargeable.
                </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, the Platform Provider shall adopt reasonable security practices and procedures
                    and exercise due diligence while storing such sensitive personal data or information, personal
                    information of the patient </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> It is herein agreed that the cost of such cloud storage shall be borne by the Platform
                    Provider for the initial 3 months. However, for the subsequent months/years, the DIGITAL PATHOLOGY
                    shall be required to pay the costs associated with such cloud storage based on the storage terms
                    they choose. </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> It is herein agreed that the charges for such data storage shall be collected on a monthly
                    basis and it is advisable to check with the sales team of the Platform Provider for the estimated
                    cost of such data storage </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> In case of long term storage of data, it may take some time(less than 30 minutes in most
                    cases) to retrieve any data which is more than one month old </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Further, it is hereby informed that the cost of cloud storage shall be much less compared
                    to the cost of maintaining on-premise storage facilities of similar magnitudes </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> The Platform Provider shall also adhere to all laws, rules, regulations applicable for
                    handling, processing, storage of personal information including medical and health records and
                    related information </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Patient Reports are stored by the Platform provider for an indefinite period of time for
                    no additional fee. </p>
            </li>
        </ol><br><strong>
            <ol start="17">
                <li dir="ltr">
                    <p dir="ltr"> SUSPENSION OF ACCOUNT <br><br></p>
                </li>
            </ol>
        </strong>
        <p dir="ltr"> In the event, the DIGITAL PATHOLOGY provides any information that is not sufficiently competent in
            any </p>
        <p dir="ltr"> manner as required by the processes and onboarding criteria of the Platform Provider, then the
            Platform Provider shall suspend the account of such DIGITAL PATHOLOGY and disable access to the online platform
            (<a href="https://www.livo.ai">Livo</a>) until such DIGITAL PATHOLOGY meets the onboarding
            criteria and the same is verified by Platform Provider and their on-site team </p><br><strong>
            <ol start="18">
                <li dir="ltr">
                    <p dir="ltr"> INDEMNITY </p>
                </li>
            </ol>
        </strong><br>
        <p dir="ltr"> The DIGITAL PATHOLOGY shall indemnify, defend and hold harmless the Platform Provider, its respective
            offices, directors, representatives, from and against all actions, proceedings, claims, liabilities
            (including statutory liability), penalties, demands and costs (including without limitation, legal costs),
            awards, damages, losses and/or expenses however arising out of acts, actions, activities, commissions,
            omissions, negligence, gross violations including any legal issues, claims, damages, litigations arising
            against the Platform Provider from any of its patients, customers, employees, staff, directors, consultants,
            affiliates. </p><br><strong>
            <ol start="19">
                <li dir="ltr">
                    <p dir="ltr"> NON-EXCLUSIVE </p>
                </li>
            </ol>
        </strong><br>
        <p dir="ltr"> Nothing in this agreement shall prevent the Platform Provider from entering into similar
            agreements, arrangements with any other third party including individual or entity </p><br><strong>
            <ol start="20">
                <li dir="ltr">
                    <p dir="ltr"> WAIVER </p>
                </li>
            </ol>
        </strong><br>
        <p dir="ltr"> A waiver of any right under this agreement is only effective if it is in writing and it applies
            only to the party to whom the waiver is addressed and to the circumstances for which it is given </p>
        <br><br><strong>
            <ol start="21">
                <li dir="ltr">
                    <p dir="ltr"> SEVERANCE </p>
                </li>
            </ol>
        </strong><br>
        <p dir="ltr"> If any term or provision in this agreement shall be held illegal or enforceable, in whole or part,
            under any enactment or rule of law, such provision or part to that extent be deemed not to form the part of
            this agreement, but the validity and enforceability of the remainder of this agreement shall not be affected
        </p><br><strong>
            <ol start="22">
                <li dir="ltr">
                    <p dir="ltr"> ENTIRE AGREEMENT </p>
                </li>
            </ol>
        </strong><br>
        <ol>
            <li dir="ltr">
                <p dir="ltr"> This agreement, and any documents referred to in it, constitute the whole agreement
                    between the Platform Provider and DIGITAL PATHOLOGY and supersedes any previous arrangement,
                    understanding or agreement between them relating to the subject matter they cover </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> Each of the parties acknowledges and agrees that in entering into this agreement it does
                    not rely on any undertaking, promise, assurance, statement, representation, warranty or
                    understanding (whether in writing or not) of any person (whether party to this agreement or not)
                    relating to the subject matter of this agreement, other than as expressly set out in this agreement
                </p>
            </li>
            <li dir="ltr">
                <p dir="ltr"> However, the legal policies including all terms and conditions mentioned on the online
                    platform (www.livo.ai) shall also be applicable </p>
            </li>
        </ol><br><strong>
            <ol start="23">
                <li dir="ltr">
                    <p dir="ltr"> DISPUTE RESOLUTION </p>
                </li>
            </ol>
        </strong><br>
        <p dir="ltr"> The Parties shall use reasonable efforts to settle any disputes, claims arising out or of or
            relating to this agreement through amicable discussions. In the event of such disputes, claims not resolved
            through amicable discussion, then the Parties hereby agree to submit such disputes, claims to Arbitration.
            The Parties agree to appoint an Arbitrator by mutual consent for settlement of such disputes, claims. The
            parties herein agree that the award issued by such Arbitrator shall be final and binding upon the Parties.
            The Arbitration proceedings shall be conducted in English and in accordance with the provisions of Indian
            Arbitration &amp; Conciliation Act, 1996. The place of Arbitration shall be Hyderabad, Telangana. </p>
        <br><strong>
            <ol start="24">
                <li dir="ltr">
                    <p dir="ltr"> GOVERNING LAW </p>
                </li>
            </ol>
        </strong><br>
        <p dir="ltr"> This agreement is governed by the Laws of India and all disputes, claims are subject to the
            Jurisdiction of courts located in Hyderabad, Telangana. The parties hereby submit to the exclusive
            jurisdiction of courts located in Hyderabad, Telangana. </p><br><strong>
            <ol start="25">
                <li dir="ltr">
                    <p dir="ltr"> COLLECTION OF TAXES </p>
                </li>
            </ol>
        </strong>
        <p dir="ltr"> DIGITAL PATHOLOGY shall be liable to pay GST as per GST Act and applicable tax laws. Further, the
            Platform Provider shall review the GST Act and applicable tax laws and implement the same from time to time
            as per the requirement of such laws. </p><br><strong>
            <ol start="26">
                <li dir="ltr">
                    <p dir="ltr"> NOTICES </p>
                </li>
            </ol>
        </strong><br>
        <p dir="ltr"> All the notices and communications required or permitted under this agreement shall be made
            through emails and any communication or delivery shall be deemed to have been duly made if actually sent.
            All notices shall with regard to Parties shall be sent to the email ids provided hereof </p><br>
        <p dir="ltr"> PLATFORM PROVIDER - info@livo.com </p><br>
        <p dir="ltr"> DIGITAL PATHOLOGY - the email id mentioned while signing up on the online platform (<a
                href="https://www.livo.ai">Livo</a>) </p><br><br><strong>
            <ol start="27">
                <li dir="ltr">
                    <p dir="ltr"> REASONABLE OPPORTUNITY </p>
                </li>
            </ol>
        </strong>
        <p dir="ltr"> The DIGITAL PATHOLOGY hereby acknowledges and agrees that it had the reasonable opportunity to
            construe the terms and conditions mentioned herein with full knowledge of the content and significance and
            intending to be legally bound by the terms hereof </p><br><br><br><br>
    </div>
</div>